{% extends 'base.html.twig' %}

{% block title %}{{ 'meta.landlords.title'|trans }}{% endblock %}
{% block description %}{{ 'meta.landlords.description'|trans }}{% endblock %}
{% block url %}{{ path('app_service_landlords') }}{% endblock %}

{% block body %}
    <section class="max-w-7xl mx-auto lg:px-8 px-6 lg:py-16 py-12">
        <div class="max-w-2xl mx-auto flex flex-col justify-center text-center space-y-4">
            <h1 class="text-center font-semibold text-primary font-secondary">{{ 'landlords.title'|trans|raw }}</h1>
            <h2 class="text-4xl lg:text-5xl/16 font-medium text-balance">{{ 'landlords.subTitle'|trans|raw }}</h2>
        </div>
    </section>
    <section class="max-w-6xl mx-auto lg:px-8 px-6 pt-4 lg:pb-16 pb-12">
        <div class="grid grid-cols-1 lg:grid-cols-2 gap-8 gap-6 justify-center max-w-xl lg:max-w-4xl mx-auto">
            <div class="bg-white border border-neutral-100 rounded-xl p-6 bg-neutral-100 transition duration-100 hover:border-primary/20 group shadow-lg shadow-lg shadow-gray-300/30">
                <div class="flex flex-col">
                    <div class="space-y-2">
                        <div class="flex size-13 mb-6 items-center justify-center rounded-full bg-primary/10">
                            {{ ux_icon('lucide:key-round', {'class':'size-6 text-primary'}) }}
                        </div>
                        <h3 class="font-semibold text-gray-900 text-xl">
                            {{ 'landlords.services.1.title'|trans|raw }}
                        </h3>
                        <p class="flex-auto text-neutral-800/70">
                            {{ 'landlords.services.1.subTitle'|trans|raw }}
                        </p>
                    </div>
                    <div class="mt-3 flex flex-auto flex-col text-base/7 bg-neutral-100/40 rounded-lg mt-5 p-2">
                        <div class="space-y-3 text-neutral-800/90">
                            <div class="flex flex-row gap-x-2.5 items-center text-sm p-2.5">
                                {{ ux_icon('gg:check-o', {'class':'size-4 shrink-0 text-primary'}) }}
                                <p>{{ 'landlords.services.1.offer.1'|trans|raw }}</p>
                            </div>
                            <div class="flex flex-row gap-x-2.5 items-center text-sm p-2.5">
                                {{ ux_icon('gg:check-o', {'class':'size-4 shrink-0 text-primary'}) }}
                                <p>{{ 'landlords.services.1.offer.2'|trans|raw }}</p>
                            </div>
                            <div class="flex flex-row gap-x-2.5 items-center text-sm p-2.5">
                                {{ ux_icon('gg:check-o', {'class':'size-4 shrink-0 text-primary'}) }}
                                <p>{{ 'landlords.services.1.offer.3'|trans|raw }}</p>
                            </div>
                            <div class="flex flex-row gap-x-2.5 items-center text-sm p-2.5">
                                {{ ux_icon('gg:check-o', {'class':'size-4 shrink-0 text-primary'}) }}
                                <p>{{ 'landlords.services.1.offer.4'|trans|raw }}</p>
                            </div>
                            <div class="flex flex-row gap-x-2.5 items-center text-sm p-2.5">
                                {{ ux_icon('gg:check-o', {'class':'size-4 shrink-0 text-primary'}) }}
                                <p>{{ 'landlords.services.1.offer.5'|trans|raw }}</p>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
            <div class="bg-white border border-neutral-100 rounded-xl p-6 bg-neutral-100 transition duration-100 hover:border-primary/20 group shadow-lg shadow-lg shadow-gray-300/30">
                <div class="flex flex-col">
                    <div class="space-y-2">
                        <div class="flex size-13 mb-6 items-center justify-center rounded-full bg-primary/10">
                            {{ ux_icon('lucide:user-round-check', {'class':'size-6 text-primary'}) }}
                        </div>
                        <h3 class="font-semibold text-gray-900 text-xl">
                            {{ 'landlords.services.2.title'|trans|raw }}
                        </h3>
                        <p class="flex-auto text-neutral-800/70">
                            {{ 'landlords.services.2.subTitle'|trans|raw }}
                        </p>
                    </div>
                    <div class="mt-3 flex flex-auto flex-col text-base/7 bg-neutral-100/40 rounded-lg mt-5 p-2">
                        <div class="space-y-3 text-neutral-800/90">
                            <div class="flex flex-row gap-x-2.5 items-center text-sm p-2.5">
                                {{ ux_icon('gg:check-o', {'class':'size-4 shrink-0 text-primary'}) }}
                                <p>{{ 'landlords.services.2.offer.1'|trans|raw }}</p>
                            </div>
                            <div class="flex flex-row gap-x-2.5 items-center text-sm p-2.5">
                                {{ ux_icon('gg:check-o', {'class':'size-4 shrink-0 text-primary'}) }}
                                <p>{{ 'landlords.services.2.offer.2'|trans|raw }}</p>
                            </div>
                            <div class="flex flex-row gap-x-2.5 items-center text-sm p-2.5">
                                {{ ux_icon('gg:check-o', {'class':'size-4 shrink-0 text-primary'}) }}
                                <p>{{ 'landlords.services.2.offer.3'|trans|raw }}</p>
                            </div>
                            <div class="flex flex-row gap-x-2.5 items-center text-sm p-2.5">
                                {{ ux_icon('gg:check-o', {'class':'size-4 shrink-0 text-primary'}) }}
                                <p>{{ 'landlords.services.2.offer.4'|trans|raw }}</p>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </section>
    <section class="max-w-7xl mx-auto lg:px-8 px-6 lg:py-16 py-12">
        <div class="max-w-3xl mx-auto">
            <div class="pb-12 lg:pb-16 space-y-3 mx-auto space-y-3 text-center">
                <h2 class="font-semibold text-primary font-secondary">{{ 'home.faq.title'|trans|raw }}</h2>
                <h3 class="text-3xl font-medium text-pretty">{{ 'home.faq.subTitle'|trans|raw }}</h3>
            </div>
            <div x-data="{
                    activeAccordion: '',
                    setActiveAccordion(id) {
                        this.activeAccordion = (this.activeAccordion == id) ? '' : id
                    }
                }" class="relative w-full mx-auto overflow-hidden space-y-4">
                <div x-data="{ id: $id('accordion') }" class="cursor-pointer group border border-neutral-100 bg-white rounded-lg hover:border-primary/20 transition duration-100">
                    <button @click="setActiveAccordion(id)" class="flex items-center justify-between w-full p-4 text-left select-none font-semibold gap-x-2">
                        <span>{{ 'landlords.faq.question.1.title'|trans|raw }}</span>
                        <svg class="w-4 h-4 duration-200 ease-out shrink-0" :class="{ 'rotate-180': activeAccordion==id }" viewBox="0 0 24 24" xmlns="http://www.w3.org/2000/svg" fill="none" stroke="currentColor" stroke-width="2" stroke-linecap="round" stroke-linejoin="round"><polyline points="6 9 12 15 18 9"></polyline></svg>
                    </button>
                    <div x-show="activeAccordion==id" x-collapse x-cloak>
                        <div class="p-4 pt-0 opacity-70 text-neutral-800">
                            {{ 'landlords.faq.question.1.text'|trans|raw }}
                        </div>
                    </div>
                </div>
                <div x-data="{ id: $id('accordion') }" class="cursor-pointer group border border-neutral-100 bg-white rounded-lg hover:border-primary/20 transition duration-100">
                    <button @click="setActiveAccordion(id)" class="flex items-center justify-between w-full p-4 text-left select-none font-semibold gap-x-2">
                        <span>{{ 'landlords.faq.question.2.title'|trans|raw }}</span>
                        <svg class="w-4 h-4 duration-200 ease-out shrink-0" :class="{ 'rotate-180': activeAccordion==id }" viewBox="0 0 24 24" xmlns="http://www.w3.org/2000/svg" fill="none" stroke="currentColor" stroke-width="2" stroke-linecap="round" stroke-linejoin="round"><polyline points="6 9 12 15 18 9"></polyline></svg>
                    </button>
                    <div x-show="activeAccordion==id" x-collapse x-cloak>
                        <div class="p-4 pt-0 opacity-70 text-neutral-800">
                            {{ 'landlords.faq.question.2.text'|trans|raw }}
                        </div>
                    </div>
                </div>
                <div x-data="{ id: $id('accordion') }" class="cursor-pointer group border border-neutral-100 bg-white rounded-lg hover:border-primary/20 transition duration-100">
                    <button @click="setActiveAccordion(id)" class="flex items-center justify-between w-full p-4 text-left select-none font-semibold gap-x-2">
                        <span>{{ 'landlords.faq.question.3.title'|trans|raw }}</span>
                        <svg class="w-4 h-4 duration-200 ease-out shrink-0" :class="{ 'rotate-180': activeAccordion==id }" viewBox="0 0 24 24" xmlns="http://www.w3.org/2000/svg" fill="none" stroke="currentColor" stroke-width="2" stroke-linecap="round" stroke-linejoin="round"><polyline points="6 9 12 15 18 9"></polyline></svg>
                    </button>
                    <div x-show="activeAccordion==id" x-collapse x-cloak>
                        <div class="p-4 pt-0 opacity-70 text-neutral-800">
                            {{ 'landlords.faq.question.3.text'|trans|raw }}
                        </div>
                    </div>
                </div>
                <div x-data="{ id: $id('accordion') }" class="cursor-pointer group border border-neutral-100 bg-white rounded-lg hover:border-primary/20 transition duration-100">
                    <button @click="setActiveAccordion(id)" class="flex items-center justify-between w-full p-4 text-left select-none font-semibold gap-x-2">
                        <span>{{ 'landlords.faq.question.4.title'|trans|raw }}</span>
                        <svg class="w-4 h-4 duration-200 ease-out shrink-0" :class="{ 'rotate-180': activeAccordion==id }" viewBox="0 0 24 24" xmlns="http://www.w3.org/2000/svg" fill="none" stroke="currentColor" stroke-width="2" stroke-linecap="round" stroke-linejoin="round"><polyline points="6 9 12 15 18 9"></polyline></svg>
                    </button>
                    <div x-show="activeAccordion==id" x-collapse x-cloak>
                        <div class="p-4 pt-0 opacity-70 text-neutral-800">
                            {{ 'landlords.faq.question.4.text'|trans|raw }}
                        </div>
                    </div>
                </div>
                <div x-data="{ id: $id('accordion') }" class="cursor-pointer group border border-neutral-100 bg-white rounded-lg hover:border-primary/20 transition duration-100">
                    <button @click="setActiveAccordion(id)" class="flex items-center justify-between w-full p-4 text-left select-none font-semibold gap-x-2">
                        <span>{{ 'landlords.faq.question.5.title'|trans|raw }}</span>
                        <svg class="w-4 h-4 duration-200 ease-out shrink-0" :class="{ 'rotate-180': activeAccordion==id }" viewBox="0 0 24 24" xmlns="http://www.w3.org/2000/svg" fill="none" stroke="currentColor" stroke-width="2" stroke-linecap="round" stroke-linejoin="round"><polyline points="6 9 12 15 18 9"></polyline></svg>
                    </button>
                    <div x-show="activeAccordion==id" x-collapse x-cloak>
                        <div class="p-4 pt-0 opacity-70 text-neutral-800">
                            {{ 'landlords.faq.question.5.text'|trans|raw }}
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </section>
    {{ component('ctaFooter') }}
{% endblock %}
