{% extends 'base.html.twig' %}

{% block title %}{{ 'meta.newsletter.title'|trans }}{% endblock %}
{% block description %}{{ 'meta.newsletter.description'|trans }}{% endblock %}
{% block url %}{{ path('app_newsletter') }}{% endblock %}

{% block body %}
    <section class="max-w-7xl mx-auto lg:px-8 px-6 lg:py-16 py-12">
        <div class="max-w-xl mx-auto flex flex-col justify-center text-center space-y-4">
            <p class="text-center font-semibold text-primary font-secondary">{{ 'newsletter.title'|trans }}</p>
            <h1 class="text-4xl lg:text-5xl/16 font-medium text-balance">{{ 'newsletter.subTitle'|trans }}</h1>
            <p class="text-center font-normal text-neutral-600 text-balance">{{ 'newsletter.text'|trans }}</p>
        </div>
    </section>
    <section class="max-w-xl lg:max-w-xl mx-auto lg:px-8 px-6 py-6">
        <div class="w-full mx-auto space-y-6">
            {{ form_start(newsletterForm) }}
                {% for message in app.flashes('newsletterSuccess') %}
                    <div class="rounded-xl bg-green-50 p-4 mb-5" data-controller="fireworks">
                        <div class="flex items-start gap-x-3">
                            <div class="flex-shrink-0">
                                {{ ux_icon('lucide:circle-check', {'class':'text-green-600 size-5'}) }}
                            </div>
                            <div class="space-y-0.5">
                                <h3 class="text-base font-medium text-green-800 -mt-0.5">{{ message }}</h3>
                                <p class="text-sm text-slate-600">{{ 'newsletter.form.success.text'|trans }}</p>
                            </div>
                        </div>
                    </div>
                {% endfor %}

                {% if newsletterForm.email.vars.errors|length > 0 %}
                    <div class="rounded-xl bg-red-50 p-4 mb-5">
                        <div class="flex items-start gap-x-3">
                            <div class="flex-shrink-0">
                                {{ ux_icon('lucide:circle-x', {'class':'text-red-600 size-5'}) }}
                            </div>
                            <div class="space-y-0.5">
                                <h3 class="text-base font-medium text-red-800 -mt-0.5">{{ 'newsletter.form.error'|trans }}</h3>
                                <div class="text-sm text-slate-600">
                                    {% for error in newsletterForm.email.vars.errors %}
                                        <p>{{ error.message }}</p>
                                    {% endfor %}
                                </div>
                            </div>
                        </div>
                    </div>
                {% endif %}

                <div class="flex items-center gap-x-0.5">
                    {{ form_label(newsletterForm.email, null, {
                        'label_attr': {
                            'class': 'block text-sm/6 font-semibold text-gray-900'
                        }
                    }) }}
                    <span class="text-red-600">*</span>
                </div>
                <div class="mt-2 flex flex-col sm:flex-row gap-2">
                    {{ form_widget(newsletterForm.email, {'attr': {'class': 'block w-full rounded-lg bg-white px-3 py-2.5 text-base text-gray-900 border border-gray-300 placeholder:text-gray-400 focus:outline focus:outline-2 focus:-outline-offset-2 focus:ring-primary/60 focus:outline-primary/80 sm:text-sm/6', 'placeholder': 'newsletter.form.email.placeholder'|trans }}) }}
                    <twig:Button variant="default" size="lg" class="md:h-auto cursor-pointer">
                        {{ 'newsletter.form.button'|trans }}
                    </twig:Button>
                </div>
                <div class="mt-5 flex items-center gap-x-2">
                    <img
                        src="{{ asset('medias/team/team_1.webp') }}"
                        alt="{{ 'header.menu.findTenant.imgAlt'|trans|raw }}"
                        loading="lazy"
                        width="24"
                        height="24"
                        class="size-6 bg-white rounded-full outline outline-1 -outline-offset-1 outline-black/5 ring-2 ring-white"
                    />
                    <p class="text-light text-sm text-neutral-600 ">
                        {{ 'newsletter.nextNewsletter'|trans({'%date%': format_next_monday(app.request.locale) })|raw }}
                    </p>
                </div>
            {{ form_end(newsletterForm) }}
            <div class="flex justify-center pt-2">
                <div class="flex items-center gap-x-3 text-sm text-neutral-600 bg-gray-50 px-4 py-2 rounded-lg text-sm">
                    {{ ux_icon('heroicons:bell-alert', {'class':'size-5 shrink-0'}) }}
                    <p class="font-light">{{ 'newsletter.noSpam'|trans }}</p>
                </div>
            </div>
        </div>
    </section>
    <section class="max-w-xl lg:max-w-7xl mx-auto lg:px-8 px-6 lg:py-16 py-12">
        <h2 class="sr-only">{{ 'newsletter.whySubscribe'|trans }}</h2>
        <div class="flex flex-col lg:flex-row items-stretch">
            <div class="flex flex-col items-center space-y-2 px-6 py-6 lg:py-0 w-full">
                <div class="flex items-center flex-col gap-3">
                    <div class="p-3 bg-gray-100 block rounded-lg w-fit">
                        {{ ux_icon('material-symbols:home-outline-rounded', {'class':'size-7 text-primary shrink-0 group-hover:text-white'}) }}
                    </div>
                    <h3 class="font-medium text-lg text-center text-pretty">{{ 'newsletter.card.1.title'|trans }}</h3>
                </div>
                <p class="text-neutral-600 text-sm text-center font-light text-balance max-w-md">{{ 'newsletter.card.1.text'|trans }}</p>
            </div>
            <div class="block lg:hidden h-[1px] w-full bg-gradient-to-r from-slate-400/20 via-slate-500 to-slate-400/20 opacity-20 shrink-0"></div>
            <div class="hidden lg:block w-[1px] self-stretch bg-gradient-to-b from-slate-400/20 via-slate-500 to-slate-400/20 opacity-20 shrink-0"></div>
            <div class="flex flex-col items-center space-y-2 px-6 py-6 lg:py-0 w-full">
                <div class="flex items-center flex-col gap-3">
                    <div class="p-3 bg-gray-100 block rounded-lg w-fit">
                        {{ ux_icon('material-symbols:home-outline-rounded', {'class':'size-7 text-primary shrink-0 group-hover:text-white'}) }}
                    </div>
                    <h3 class="font-medium text-lg text-center text-pretty">{{ 'newsletter.card.2.title'|trans }}</h3>
                </div>
                <p class="text-neutral-600 text-sm text-center font-light text-balance max-w-md">{{ 'newsletter.card.2.text'|trans }}</p>
            </div>
            <div class="block lg:hidden h-[1px] w-full bg-gradient-to-r from-slate-400/20 via-slate-500 to-slate-400/20 opacity-20 shrink-0"></div>
            <div class="hidden lg:block w-[1px] self-stretch bg-gradient-to-b from-slate-400/20 via-slate-500 to-slate-400/20 opacity-20 shrink-0"></div>
            <div class="flex flex-col items-center space-y-2 px-6 py-6 lg:py-0 w-full">
                <div class="flex items-center flex-col gap-3">
                    <div class="p-3 bg-gray-100 block rounded-lg w-fit">
                        {{ ux_icon('material-symbols:home-outline-rounded', {'class':'size-7 text-primary shrink-0 group-hover:text-white'}) }}
                    </div>
                    <h3 class="font-medium text-lg text-center text-pretty">{{ 'newsletter.card.3.title'|trans }}</h3>
                </div>
                <p class="text-neutral-600 text-sm text-center font-light text-balance max-w-md">{{ 'newsletter.card.3.text'|trans }}</p>
            </div>
        </div>
    </section>
{% endblock %}
