{% extends 'base.html.twig' %}

{% block title %}Hello NewsletterController!{% endblock %}

{% block body %}
    <section class="max-w-7xl mx-auto lg:px-8 px-6 lg:py-16 py-12">
        <div class="max-w-2xl mx-auto flex flex-col justify-center text-center space-y-4">
            <h1 class="text-center font-semibold text-primary font-secondary">Newsletter</h1>
            <h2 class="text-4xl lg:text-5xl/16 font-medium text-balance">S'inscrire à notre newsletter</h2>
        </div>
    </section>
    <section class="max-w-xl lg:max-w-xl mx-auto lg:px-8 px-6 py-6">
        <div class="w-full mx-auto space-y-6">
            {{ form_start(newsletterForm) }}
                {% for message in app.flashes('newsletterSuccess') %}
                    <div class="rounded-xl bg-green-50 p-4 mb-5">
                        <div class="flex items-start gap-x-3">
                            <div class="flex-shrink-0">
                                {{ ux_icon('lucide:circle-check', {'class':'text-green-600 size-5'}) }}
                            </div>
                            <div class="space-y-0.5">
                                <h3 class="text-base font-medium text-green-800 -mt-0.5">{{ message }}</h3>
                                <p class="text-sm text-slate-600">{{ 'newsletter.form.success.text'|trans }}</p>
                            </div>
                        </div>
                    </div>
                {% endfor %}

                {% if newsletterForm.email.vars.errors|length > 0 %}
                    <div class="rounded-xl bg-red-50 p-4 mb-5">
                        <div class="flex items-start gap-x-3">
                            <div class="flex-shrink-0">
                                {{ ux_icon('lucide:circle-x', {'class':'text-red-600 size-5'}) }}
                            </div>
                            <div class="space-y-0.5">
                                <h3 class="text-base font-medium text-red-800 -mt-0.5">{{ 'newsletter.form.error'|trans }}</h3>
                                <div class="text-sm text-slate-600">
                                    {% for error in newsletterForm.email.vars.errors %}
                                        <p>{{ error.message }}</p>
                                    {% endfor %}
                                </div>
                            </div>
                        </div>
                    </div>
                {% endif %}

                <div class="flex items-center gap-x-0.5">
                    {{ form_label(newsletterForm.email, null, {
                        'label_attr': {
                            'class': 'block text-sm/6 font-semibold text-gray-900'
                        }
                    }) }}
                    <span class="text-red-600">*</span>
                </div>
                <div class="mt-2 flex flex-col sm:flex-row gap-2">
                    {{ form_widget(newsletterForm.email, {'attr': {'class': 'block w-full rounded-full bg-white px-3 py-2.5 text-base text-gray-900 border border-gray-300 placeholder:text-gray-400 focus:outline focus:outline-2 focus:-outline-offset-2 focus:ring-primary/60 focus:outline-primary/80 sm:text-sm/6', 'placeholder': 'newsletter.form.email.placeholder'|trans }}) }}
                    <button type="submit"
                       class="rounded-full bg-primary text-center px-6 py-3 text-sm uppercase font-light text-white transition duration-100 hover:bg-[#71172e]/90 focus:outline-none focus-visible:ring-2 focus-visible:ring-offset-2 focus-visible:ring-[#71172e]">
                        S'inscrire
                    </button>
                </div>
                <div class="text-xs text-gray-600/90 mt-5 text-left flex items-center gap-x-2">
                    {{ ux_icon('fluent:alert-48-regular', {'class':'size-5 shrink-0'}) }}
                    <p>
                        {{ 'newsletter.nextNewsletter'|trans({'%date%': format_next_monday(app.request.locale) })|raw }}
                    </p>
                </div>
            {{ form_end(newsletterForm) }}
        </div>
    </section>
    <section class="max-w-xl lg:max-w-5xl mx-auto lg:px-8 px-6 lg:py-16 py-12">
            <div class="grid grid-cols-1 lg:grid-cols-3 gap-6 items-center">
                <div class="bg-white rounded-xl p-6 border border-neutral-100 hover:border-primary/20 transition-colors duration-100 space-y-2 shadow-lg shadow-gray-300/30 group">
                    <div class="flex items-center flex-col gap-3">
                        <div class="p-2 border bg-white border-slate-200 block rounded-lg w-fit group-hover:bg-primary transition-colors duration-100">
                            {{ ux_icon('material-symbols:home-outline-rounded', {'class':'size-6 text-primary shrink-0 group-hover:text-white'}) }}
                        </div>
                        <h3 class="font-semibold text-lg text-center text-pretty">Biens immobiliers</h3>
                    </div>
                    <p class="flex-auto text-neutral-800/70 text-base/6 text-center">Accédez aux nouvelles offres en priorité.</p>
                </div>
                <div class="bg-white rounded-xl p-6 border border-neutral-100 hover:border-primary/20 transition-colors duration-100 space-y-2 shadow-lg shadow-gray-300/30 group">
                    <div class="flex items-center flex-col gap-3">
                        <div class="p-2 border bg-white border-slate-200 block rounded-lg w-fit group-hover:bg-primary transition-colors duration-100">
                            {{ ux_icon('mdi:paris', {'class':'size-6 text-primary shrink-0 group-hover:text-white'}) }}
                        </div>
                        <h3 class="font-semibold text-lg text-center text-pretty">Actualités parisiennes</h3>
                    </div>
                    <p class="flex-auto text-neutral-800/70 text-base/6 text-center">L’essentiel de la vie et du marché parisien.</p>
                </div>
                <div class="bg-white rounded-xl p-6 border border-neutral-100 hover:border-primary/20 transition-colors duration-100 space-y-2 shadow-lg shadow-gray-300/30 group">
                    <div class="flex items-center flex-col gap-3">
                        <div class="p-2 border bg-white border-slate-200 block rounded-lg w-fit group-hover:bg-primary transition-colors duration-100">
                            {{ ux_icon('mynaui:book-open', {'class':'size-6 text-primary shrink-0 group-hover:text-white'}) }}
                        </div>
                        <h3 class="font-semibold text-lg text-center text-pretty">Guides et conseils</h3>
                    </div>
                    <p class="flex-auto text-neutral-800/70 text-base/6 text-center">Des clés concrètes pour bien s’installer.</p>
                </div>
            </div>
        </section>
{% endblock %}
