{% extends 'public/base.html.twig' %}

{% block title %}{{ 'meta.newsletter.title'|trans }}{% endblock %}
{% block description %}{{ 'meta.newsletter.description'|trans }}{% endblock %}
{% block url %}{{ path('app_newsletter') }}{% endblock %}

{% block body %}
    <section class="max-w-7xl mx-auto lg:px-8 px-6 lg:py-16 py-12">
        <div class="max-w-xl mx-auto flex flex-col justify-center text-center space-y-4">
            <p class="text-center font-semibold text-primary font-secondary">{{ 'newsletter.title'|trans }}</p>
            <h1 class="text-4xl lg:text-5xl/16 font-medium text-balance">{{ 'newsletter.subTitle'|trans }}</h1>
            <p class="text-center font-normal text-neutral-600 text-balance">{{ 'newsletter.text'|trans }}</p>
        </div>
    </section>
    <section class="max-w-xl lg:max-w-xl mx-auto lg:px-8 px-6 py-6">
        <div id="newsletter-form" class="w-full mx-auto space-y-6">
            <twig:Newsletter:NewsletterForm :form="newsletterForm" />
        </div>
    </section>
    <section class="max-w-xl lg:max-w-7xl mx-auto lg:px-8 px-6 lg:py-16 py-12">
        <h2 class="sr-only">{{ 'newsletter.whySubscribe'|trans }}</h2>
        <div class="flex flex-col lg:flex-row items-stretch">
            <div class="flex flex-col items-center space-y-2 px-6 py-6 lg:py-0 w-full">
                <div class="flex items-center flex-col gap-3">
                    <div class="p-3 bg-gray-100 block rounded-lg w-fit">
                        {{ ux_icon('material-symbols:home-outline-rounded', {'class':'size-7 text-primary shrink-0 group-hover:text-white'}) }}
                    </div>
                    <h3 class="font-medium text-lg text-center text-pretty">{{ 'newsletter.card.1.title'|trans }}</h3>
                </div>
                <p class="text-neutral-600 text-sm text-center font-light text-balance max-w-md">{{ 'newsletter.card.1.text'|trans }}</p>
            </div>
            <div class="block lg:hidden h-[1px] w-full bg-gradient-to-r from-slate-400/20 via-slate-500 to-slate-400/20 opacity-20 shrink-0"></div>
            <div class="hidden lg:block w-[1px] self-stretch bg-gradient-to-b from-slate-400/20 via-slate-500 to-slate-400/20 opacity-20 shrink-0"></div>
            <div class="flex flex-col items-center space-y-2 px-6 py-6 lg:py-0 w-full">
                <div class="flex items-center flex-col gap-3">
                    <div class="p-3 bg-gray-100 block rounded-lg w-fit">
                        {{ ux_icon('solar:city-linear', {'class':'size-7 text-primary shrink-0 group-hover:text-white'}) }}
                    </div>
                    <h3 class="font-medium text-lg text-center text-pretty">{{ 'newsletter.card.2.title'|trans }}</h3>
                </div>
                <p class="text-neutral-600 text-sm text-center font-light text-balance max-w-md">{{ 'newsletter.card.2.text'|trans }}</p>
            </div>
            <div class="block lg:hidden h-[1px] w-full bg-gradient-to-r from-slate-400/20 via-slate-500 to-slate-400/20 opacity-20 shrink-0"></div>
            <div class="hidden lg:block w-[1px] self-stretch bg-gradient-to-b from-slate-400/20 via-slate-500 to-slate-400/20 opacity-20 shrink-0"></div>
            <div class="flex flex-col items-center space-y-2 px-6 py-6 lg:py-0 w-full">
                <div class="flex items-center flex-col gap-3">
                    <div class="p-3 bg-gray-100 block rounded-lg w-fit">
                        {{ ux_icon('mdi:paris', {'class':'size-7 text-primary shrink-0 group-hover:text-white'}) }}
                    </div>
                    <h3 class="font-medium text-lg text-center text-pretty">{{ 'newsletter.card.3.title'|trans }}</h3>
                </div>
                <p class="text-neutral-600 text-sm text-center font-light text-balance max-w-md">{{ 'newsletter.card.3.text'|trans }}</p>
            </div>
        </div>
    </section>
{% endblock %}
