<section class="max-w-7xl mx-auto lg:px-8 px-6 lg:py-16 py-12">
    <div class="max-w-5xl mx-auto lg:py-16 py-12 rounded-2xl px-4 bg-linear-to-b from-neutral-100 to-neutral-50/70">
        <div class="flex flex-col justify-center items-center max-w-lg mx-auto space-y-4 text-center">
            <div class="flex -space-x-2 mb-6">
                <img src="{{ asset('medias/team/team_1.webp') }}" alt="{{ 'ctaFooter.image.1.alt'|trans|raw }}" loading="lazy" width="40" height="40" class="inline-block size-10 rounded-full outline outline-1 -outline-offset-1 outline-white/10 ring-2 ring-neutral-300" />
                <img src="{{ asset('medias/team/team_5.webp') }}" alt="{{ 'ctaFooter.image.2.alt'|trans|raw }}" loading="lazy" width="40" height="40" class="inline-block size-10 rounded-full outline outline-1 -outline-offset-1 outline-white/10 ring-2 ring-neutral-300" />
                <img src="{{ asset('medias/team/team_3.webp') }}" alt="{{ 'ctaFooter.image.3.alt'|trans|raw }}" loading="lazy" width="40" height="40" class="inline-block size-10 rounded-full outline outline-1 -outline-offset-1 outline-white/10 ring-2 ring-neutral-300" />
            </div>
            <h2 class="text-3xl font-medium text-pretty">{{ 'ctaFooter.title'|trans }}</h2>
            <p class="text-center text-neutral-700 text-pretty">
                {{ 'ctaFooter.subTitle'|trans|raw }}
            </p>
            <div class="mt-4 flex sm:flex-row flex-col items-center justify-center lg:justify-start gap-3">
                <twig:Button variant="default" as="a" size="lg" href="{{ path('app_contact') }}">
                    {{ 'ctaFooter.button'|trans|raw }}
                </twig:Button>
                <twig:Button
                    variant="default"
                    as="a"
                    size="lg"
                    class="bg-[#DCFCE7] text-[#16B550] border-none shadow-none transition duration-100 hover:bg-[#ECFDF5]"
                    href="https://wa.me/33761719439"
                    rel="noopener noreferrer"
                    target="_blank"
                    aria-label="{{ 'header.cta.whatsapp.text'|trans|raw }}"
                >
                    {{ ux_icon('ic:baseline-whatsapp', {'class': 'size-6', 'aria-hidden': 'true'}) }}
                    {{ 'header.cta.whatsapp.title'|trans|raw }}
                </twig:Button>
            </div>
        </div>
    </div>
</section>
