{% extends 'base.html.twig' %}

{% block title %}{{ 'meta.sitemap.title'|trans }}{% endblock %}
{% block description %}{{ 'meta.sitemap.description'|trans }}{% endblock %}
{% block url %}{{ path('app_sitemap') }}{% endblock %}

{% set isFr = app.request.locale == 'fr' %}

{% block body %}
    <section class="max-w-7xl mx-auto lg:px-8 px-6 lg:py-16 py-12">
        <div class="max-w-2xl mx-auto flex flex-col justify-center text-center space-y-4">
            <h1 class="text-center font-semibold text-primary font-secondary">{{ 'sitemap.title'|trans }}</h1>
            <h2 class="text-4xl lg:text-5xl/16 font-medium text-pretty">{{ 'sitemap.subTitle'|trans }}</h2>
            <p></p>
        </div>
        <div class="max-w-4xl mx-auto py-12 space-y-6">
            <div class="space-y-6">
                <h3 class="bg-neutral-100 inline-block text-lg font-medium font-secondary px-3 py-2.5 rounded-lg">{{ 'sitemap.general'|trans }}</h3>
                <div>
                    <ul class="list list-disc ml-12 space-y-3">
                        <li><a href="{{ path('app_home') }}" class="hover:text-primary transition duration-100">{{ 'sitemap.menu.home'|trans }}</a></li>
                        <li><a href="{{ path('app_service_find_accommodation') }}" class="hover:text-primary transition duration-100">{{ 'sitemap.menu.findAccommodation'|trans }}</a></li>
                        <li><a href="{{ path('app_service_companies') }}" class="hover:text-primary transition duration-100">{{ 'sitemap.menu.companies'|trans }}</a></li>
                        <li><a href="{{ path('app_service_landlords') }}" class="hover:text-primary transition duration-100">{{ 'sitemap.menu.landlords'|trans }}</a></li>
                        <li><a href="{{ path('app_contact') }}" class="hover:text-primary transition duration-100">{{ 'sitemap.menu.contact'|trans }}</a></li>
                        <li><a href="{{ path('app_legal_notice') }}" class="hover:text-primary transition duration-100">{{ 'sitemap.menu.legalNotice'|trans }}</a></li>
                        <li><a href="{{ path('app_privacy_policy') }}" class="hover:text-primary transition duration-100">{{ 'sitemap.menu.privacyPolicy'|trans }}</a></li>
                        <li><a href="{{ path('app_terms_and_conditions') }}" class="hover:text-primary transition duration-100">{{ 'sitemap.menu.termsConditions'|trans }}</a></li>
                        <li><a href="{{ path('app_about_us') }}" class="hover:text-primary transition duration-100">{{ 'sitemap.menu.aboutUs'|trans }}</a></li>
                        <li><a href="{{ path('app_sitemap') }}" class="hover:text-primary transition duration-100">Sitemap</a></li>
                        {% if app.user %}
                            <li><a href="{{ path('app_logout') }}" class="hover:text-primary transition duration-100">{{ 'sitemap.menu.logout'|trans }}</a></li>
                        {% else %}
                            <li><a href="{{ path('app_login') }}" class="hover:text-primary transition duration-100">{{ 'sitemap.menu.login'|trans }}</a></li>
                        {% endif %}
                        <li><a href="{{ path('app_estimation') }}" class="hover:text-primary transition duration-100">{{ 'sitemap.menu.estimation'|trans }}</a></li>
                        <li><a href="{{ path('app_faq') }}" class="hover:text-primary transition duration-100">{{ 'sitemap.menu.faq'|trans }}</a></li>
                        <li><a href="{{ path('app_newsletter') }}" class="hover:text-primary transition duration-100">{{ 'sitemap.menu.newsletter'|trans }}</a></li>
                    </ul>
                </div>
            </div>
            <div class="space-y-6">
                <h3 class="bg-neutral-100 inline-block text-lg font-medium font-secondary px-3 py-2.5 rounded-lg">{{ 'sitemap.blog'|trans }}</h3>
                <div>
                    <ul class="list list-disc ml-12 space-y-3">
                        <li><a href="{{ path('app_blog') }}" class="hover:text-primary transition duration-100">{{ 'sitemap.blogMenu.blog'|trans }}</a></li>
                        {% for post in posts %}
                            <li><a href="{{ path('app_blog_show', isFr ? {'slugFr': post.slugFr} : {'slugEn': post.slugEn}) }}" class="hover:text-primary transition duration-100">{{ isFr ? post.titleFr : post.titleEn }}</a></li>
                        {% endfor %}
                    </ul>
                </div>
            </div>
        </div>
    </section>
{% endblock %}
