{% set currentRoute = app.request.attributes.get('_route') %}
{% set currentParameters = app.request.attributes.get('_route_params') %}

{% if currentRoute == 'app_blog_show' and post is defined and post is not null %}
    {% set blogSwitchParams = {
        'fr': {'_locale': 'fr', 'slugFr': post.slugFr},
        'en': {'_locale': 'en', 'slugEn': post.slugEn}
    } %}
{% endif %}

<header class="relative z-10">
    <nav aria-label="Global" class="mx-auto flex max-w-7xl items-center justify-between p-6 lg:px-8">
        <div class="flex lg:flex-2 items-center justify-start gap-x-2 gap-x-4">
            <a href="{{ path('app_home') }}" class="-m-1.5 p-1.5">
                <span class="sr-only">Relocation In Paris</span>
                <img src="{{ asset('medias/logos/logo.svg') }}" width="300" height="68" loading="eager" alt="Logo Relocation In Paris Desktop" class="hidden shrink-0 lg:block h-8 w-auto" />
                <img src="{{ asset('medias/logos/logo_short.svg') }}" width="153" height="150" loading="eager" alt="Logo Relocation In Paris Mobile" class="block lg:hidden h-8 w-auto" />
            </a>
            <el-popover-group class="hidden lg:flex lg:gap-x-6">
                <a href="{{ path('app_service_find_accommodation') }}" class="{% if app.request.attributes.get('_route') == 'app_service_find_accommodation' %}bg-neutral-100{% endif %} text-sm/6 font-semibold text-gray-900 hover:bg-neutral-100 py-2.5 px-3 rounded-lg transition duration-100">{{ 'header.menu.findAccommodation'|trans|raw }}</a>
                <a href="{{ path('app_service_companies') }}" class="{% if app.request.attributes.get('_route') == 'app_service_companies' %}bg-neutral-100{% endif %} text-sm/6 font-semibold text-gray-900 hover:bg-neutral-100 py-2.5 px-3 rounded-lg transition duration-100">{{ 'header.menu.companies'|trans|raw }}</a>
                <a href="{{ path('app_service_landlords') }}" class="{% if app.request.attributes.get('_route') == 'app_service_landlords' %}bg-neutral-100{% endif %}  text-sm/6 font-semibold text-gray-900 hover:bg-neutral-100 py-2.5 px-3 rounded-lg transition duration-100">{{ 'header.menu.landlords'|trans|raw }}</a>
            </el-popover-group>
        </div>
        <div class="flex lg:hidden gap-x-2">
            <a href="tel:{{ phone_number }}" class="max-[310px]:hidden bg-[#FAE9EE] text-sm/6 rounded-full h-10 font-semibold text-gray-900 py-1 px-3.5 flex items-center gap-x-2 hover:bg-neutral-100 transition duration-100">
                {{ ux_icon('line-md:phone', {'class':'shrink-0 size-4'}) }}
                {{ phone_number }}
            </a>
            <button
                type="button"
                command="show-modal"
                commandfor="mobile-menu"
                class="size-10 flex items-center justify-center rounded-full text-gray-700 hover:bg-neutral-100 transition duration-100"
            >
                <span class="sr-only">{{ 'header.action'|trans|raw }}</span>
                <svg viewBox="0 0 24 24" fill="none" stroke="currentColor" stroke-width="1.5" aria-hidden="true" class="size-6">
                    <path d="M3.75 6.75h16.5M3.75 12h16.5m-16.5 5.25h16.5" stroke-linecap="round" stroke-linejoin="round" />
                </svg>
            </button>
        </div>
        <div class="hidden lg:flex lg:flex-1 lg:justify-end ">
            <div class="flex items-center gap-x-3">
                <a href="tel:{{ phone_number }}" class="max-[1300px]:hidden text-sm/6 rounded-full h-10 font-semibold text-gray-900 py-1 px-3.5 flex items-center gap-x-2 hover:bg-neutral-100 transition duration-100">
                    {{ ux_icon('line-md:phone', {'class':'shrink-0 size-4'}) }}
                    {{ phone_number }}
                </a>
                <a href="{{ path('app_contact') }}" class="text-xs font-light uppercase text-gray-900 bg-primary text-white rounded-full py-3 px-4 flex items-center gap-x-2 hover:bg-primary/80 transition duration-100">
                    {{ 'header.menu.contact'|trans|raw }}
                </a>
            </div>
            {% if app.request.locale == 'en' %}
                <a href="{{ path(currentRoute, blogSwitchParams is defined ? blogSwitchParams.fr : currentParameters|merge({'_locale': 'fr'})) }}" class="text-sm/6 font-semibold text-gray-900 py-2.5 px-3.5 flex items-center gap-x-2">
                    {{ ux_icon('flag:bl-4x3', {'class':'size-5'}) }}
                </a>
            {% endif %}
            {% if app.request.locale == 'fr' %}
                <a href="{{ path(currentRoute, blogSwitchParams is defined ? blogSwitchParams.en : currentParameters|merge({'_locale': 'en'})) }}" class="text-sm/6 font-semibold text-gray-900 py-2.5 px-3.5 flex items-center gap-x-2">
                    {{ ux_icon('flag:gb-4x3', {'class':'size-5'}) }}
                </a>
            {% endif %}
        </div>
    </nav>
    <el-dialog>
        <dialog id="mobile-menu" class="m-0 p-0 backdrop:bg-transparent lg:hidden">
            <div tabindex="0" class="fixed inset-0 focus:outline focus:outline-0">
                <el-dialog-panel class="fixed inset-y-0 right-0 z-10 flex w-full flex-col justify-between overflow-y-auto bg-white sm:max-w-sm sm:ring-1 sm:ring-gray-900/10">
                    <div class="p-6">
                        <div class="flex items-center justify-between">
                            <a href="{{ path('app_home') }}" class="-m-1.5 p-1.5">
                                <span class="sr-only">Relocation In Paris</span>
                                <img src="{{ asset('medias/logos/logo_short.svg') }}" width="153" height="150" loading="eager" alt="Relocation In Paris Logo Mobile" class="h-8 w-auto" />
                            </a>
                            <div class="flex items-center gap-x-2 lg:hidden">
                                <a href="tel:{{ phone_number }}" class="max-[300px]:hidden text-sm/6 font-semibold h-10 bg-[#FAE9EE] text-gray-900 rounded-full py-1 px-3.5 flex items-center gap-x-2 hover:bg-neutral-100 transition duration-100">
                                    {{ ux_icon('line-md:phone', {'class':'shrink-0 size-4'}) }}
                                    {{ phone_number }}
                                </a>
                                <button
                                    type="button"
                                    command="close"
                                    commandfor="mobile-menu"
                                    class="size-10 flex items-center justify-center rounded-full text-gray-700 hover:bg-neutral-100 transition duration-100"
                                >
                                    <span class="sr-only">{{ 'header.actionClose'|trans|raw }}</span>
                                    <svg
                                        viewBox="0 0 24 24"
                                        fill="none"
                                        stroke="currentColor"
                                        stroke-width="1.5"
                                        aria-hidden="true"
                                        class="size-6"
                                    >
                                        <path d="M6 18 18 6M6 6l12 12" stroke-linecap="round" stroke-linejoin="round" />
                                    </svg>
                                </button>
                            </div>
                        </div>
                        <div class="mt-6 flow-root">
                            <div class="-my-6 divide-y divide-gray-500/10">
                                <div class="space-y-2 py-6">
                                    <div class="-mx-3">
                                        <button type="button" command="--toggle" commandfor="products" class="flex w-full items-center justify-between rounded-lg py-2 pl-3 pr-3.5 uppercase text-gray-900 hover:bg-gray-50 text-base">
                                            {{ 'header.menu.ourServices'|trans|raw }}
                                            <svg viewBox="0 0 20 20" fill="currentColor" data-slot="icon" aria-hidden="true" class="size-5 flex-none [[aria-expanded='true']_&]:rotate-180">
                                                <path d="M5.22 8.22a.75.75 0 0 1 1.06 0L10 11.94l3.72-3.72a.75.75 0 1 1 1.06 1.06l-4.25 4.25a.75.75 0 0 1-1.06 0L5.22 9.28a.75.75 0 0 1 0-1.06Z" clip-rule="evenodd" fill-rule="evenodd" />
                                            </svg>
                                        </button>
                                        <el-disclosure id="products" hidden class="mt-2 space-y-2 [&:not([hidden])]:block">
                                            <a href="{{ path('app_service_find_accommodation') }}" class="block rounded-lg py-2 pl-3 pr-3 text-base font-medium text-gray-900 hover:bg-gray-50 flex items-center gap-x-3">
                                                <div class="bg-primary/5 rounded-md flex items-center justify-center p-2">
                                                    {{ ux_icon('mynaui:home', {'class':'size-5 text-primary'}) }}
                                                </div>
                                                {{ 'header.menu.findAccommodation'|trans|raw }}
                                            </a>
                                            <a href="{{ path('app_service_companies') }}" class="block rounded-lg py-2 pl-3 pr-3 text-base font-medium text-gray-900 hover:bg-gray-50 flex items-center gap-x-3">
                                                <div class="bg-primary/5 rounded-md flex items-center justify-center p-2">
                                                    {{ ux_icon('clarity:building-line', {'class':'size-5 text-primary'}) }}
                                                </div>
                                                {{ 'header.menu.companies'|trans|raw }}
                                            </a>
                                            <a href="{{ path('app_service_landlords') }}" class="block rounded-lg py-2 pl-3 pr-3 text-base font-medium text-gray-900 hover:bg-gray-50 flex items-center gap-x-3">
                                                <div class="bg-primary/5 rounded-md flex items-center justify-center p-2">
                                                    {{ ux_icon('meteor-icons:key', {'class':'size-5 text-primary'}) }}
                                                </div>
                                                {{ 'header.menu.landlords'|trans|raw }}
                                            </a>
                                        </el-disclosure>
                                    </div>
                                    <a href="{{ path('app_estimation') }}" class="-mx-3 block rounded-lg px-3 py-2 text-base uppercase text-gray-900 hover:bg-gray-50">{{ 'header.menu.estimation'|trans|raw }}</a>
                                    <a href="{{ path('app_about_us') }}" class="-mx-3 block rounded-lg px-3 py-2 text-base uppercase text-gray-900 hover:bg-gray-50">{{ 'header.menu.aboutUs'|trans|raw }}</a>
                                    <a href="{{ path('app_blog') }}" class="-mx-3 block rounded-lg px-3 py-2 text-base uppercase text-gray-900 hover:bg-gray-50">{{ 'header.menu.blog'|trans|raw }}</a>
                                </div>
                                <div class="py-3 space-y-4">
                                    <div class="-mx-3">
                                        <button type="button" command="--toggle" commandfor="lang" class="flex aria-expanded:bg-neutral-100 cursor-pointer w-full items-center justify-between rounded-lg py-2 px-3.5 text-sm/7 font-semibold text-gray-900 hover:bg-neutral-100 transition duration-100">
                                        <span class="flex items-center gap-x-4">
                                            {% if app.request.locale == 'fr' %}
                                                {{ ux_icon('circle-flags:fr', {'class':'size-5 rounded-full'}) }}
                                                FR
                                            {% endif %}
                                            {% if app.request.locale == 'en' %}
                                                {{ ux_icon('circle-flags:en', {'class':'size-5 rounded-full'}) }}
                                                EN
                                            {% endif %}
                                        </span>
                                            <svg viewBox="0 0 20 20" fill="currentColor" data-slot="icon" aria-hidden="true" class="size-5 flex-none [[aria-expanded='true']_&]:rotate-180">
                                                <path d="M5.22 8.22a.75.75 0 0 1 1.06 0L10 11.94l3.72-3.72a.75.75 0 1 1 1.06 1.06l-4.25 4.25a.75.75 0 0 1-1.06 0L5.22 9.28a.75.75 0 0 1 0-1.06Z" clip-rule="evenodd" fill-rule="evenodd" />
                                            </svg>
                                        </button>
                                        <el-disclosure id="lang" hidden class="mt-2 [&:not([hidden])]:block">
                                            <a href="{{ path(currentRoute, blogSwitchParams is defined ? blogSwitchParams.fr : currentParameters|merge({'_locale': 'fr'})) }}"
                                               class="block rounded-lg py-2 px-3.5 text-sm/7 font-semibold text-gray-900 hover:bg-neutral-100 cursor-pointer flex justify-between items-center">
                                            <span class="flex items-center gap-x-4">
                                                {{ ux_icon('circle-flags:fr', {'class':'size-5 rounded-full'}) }}
                                                FR
                                            </span>
                                                {% if app.request.locale == 'fr' %}
                                                    {{ ux_icon('lucide:check', {'class':'text-primary size-4.5 shrink-0'}) }}
                                                {% endif %}
                                            </a>
                                            <a href="{{ path(currentRoute, blogSwitchParams is defined ? blogSwitchParams.en : currentParameters|merge({'_locale': 'en'})) }}"
                                               class="block rounded-lg py-2 px-3.5 text-sm/7 font-semibold text-gray-900 hover:bg-neutral-100 cursor-pointer flex justify-between items-center">
                                            <span class="flex items-center gap-x-4">
                                                {{ ux_icon('circle-flags:en', {'class':'size-5 rounded-full'}) }}
                                                EN
                                            </span>
                                                {% if app.request.locale == 'en' %}
                                                    {{ ux_icon('lucide:check', {'class':'text-primary size-4.5 shrink-0'}) }}
                                                {% endif %}
                                            </a>
                                        </el-disclosure>
                                    </div>
                                </div>
                                <div class="py-6 space-y-4">
                                    <a href="{{ path('app_contact') }}" class="-mx-3 text-center block rounded-full px-4 py-3 text-sm font-light uppercase text-white hover:bg-primary/80 transition duration-100 bg-primary">
                                        {{ 'header.menu.contact'|trans|raw }}
                                    </a>
                                    <a href="{{ path('app_contact') }}" class="-mx-3 flex justify-center items-center gap-x-2 text-center block rounded-full px-4 py-2.5 text-sm font-semibold text-gray-900 hover:bg-neutral-100 transition duration-100 border border-gray-900">
                                        {{ ux_icon('line-md:phone', {'class':'shrink-0 size-4'}) }}
                                        {{ phone_number }}
                                    </a>
                                </div>
                            </div>
                        </div>
                    </div>
                </el-dialog-panel>
            </div>
        </dialog>
    </el-dialog>
</header>
