{% extends 'base.html.twig' %}

{% block title %}{{ 'meta.faq.title'|trans }}{% endblock %}
{% block description %}{{ 'meta.faq.description'|trans }}{% endblock %}
{% block url %}{{ path('app_faq') }}{% endblock %}

{% block body %}
    <section class="max-w-7xl mx-auto lg:px-8 px-6 lg:py-16 py-12">
        <div class="max-w-2xl mx-auto flex flex-col justify-center text-center space-y-4">
            <h1 class="text-center font-semibold text-primary font-secondary">FAQ</h1>
            <h2 class="text-4xl lg:text-5xl/16 font-medium text-balance">Vous avez des questions ?</h2>
        </div>
    </section>
    <section class="max-w-7xl mx-auto lg:px-8 px-6">
        <div class="flex justify-center mx-auto p-2 rounded-md pb-12 lg:pb-16 ">
            <div class="p-1.5 rounded-2xl bg-white border border-neutral-100">
                <div class="flex gap-x-2">
                    <div class="px-3 py-2 bg-gray-100 rounded-xl text-primary">
                        <p class="text-sm font-semibold">Locataire</p>
                    </div>
                    <div class="px-3 py-2">
                        <p class="text-sm font-semibold">Entreprises</p>
                    </div>
                    <div class="px-3 py-2 ">
                        <p class="text-sm font-semibold">Propriétaires</p>
                    </div>
                </div>
            </div>
        </div>
        <div class="max-w-2xl mx-auto">
            <div x-data="{
                    activeAccordion: '',
                    setActiveAccordion(id) {
                        this.activeAccordion = (this.activeAccordion == id) ? '' : id
                    }
                }" class="relative w-full mx-auto overflow-hidden space-y-4">
                <div x-data="{ id: $id('accordion') }" class="cursor-pointer group border border-neutral-100 bg-white rounded-lg hover:border-primary/20 transition duration-100">
                    <button @click="setActiveAccordion(id)" class="flex items-center justify-between w-full p-4 text-left select-none font-semibold gap-x-2">
                        <span>{{ 'home.faq.question.1.title'|trans|raw }}</span>
                        <svg class="w-4 h-4 duration-200 ease-out" :class="{ 'rotate-180': activeAccordion==id }" viewBox="0 0 24 24" xmlns="http://www.w3.org/2000/svg" fill="none" stroke="currentColor" stroke-width="2" stroke-linecap="round" stroke-linejoin="round"><polyline points="6 9 12 15 18 9"></polyline></svg>
                    </button>
                    <div x-show="activeAccordion==id" x-collapse x-cloak>
                        <div class="p-4 pt-0 opacity-70 text-neutral-800">
                            {{ 'home.faq.question.1.text'|trans|raw }}
                        </div>
                    </div>
                </div>
                <div x-data="{ id: $id('accordion') }" class="cursor-pointer group border border-neutral-100 bg-white rounded-lg hover:border-primary/20 transition duration-100">
                    <button @click="setActiveAccordion(id)" class="flex items-center justify-between w-full p-4 text-left select-none font-semibold gap-x-2">
                        <span>{{ 'home.faq.question.2.title'|trans|raw }}</span>
                        <svg class="w-4 h-4 duration-200 ease-out" :class="{ 'rotate-180': activeAccordion==id }" viewBox="0 0 24 24" xmlns="http://www.w3.org/2000/svg" fill="none" stroke="currentColor" stroke-width="2" stroke-linecap="round" stroke-linejoin="round"><polyline points="6 9 12 15 18 9"></polyline></svg>
                    </button>
                    <div x-show="activeAccordion==id" x-collapse x-cloak>
                        <div class="p-4 pt-0 opacity-70 text-neutral-800">
                            {{ 'home.faq.question.2.text'|trans|raw }}
                        </div>
                    </div>
                </div>
                <div x-data="{ id: $id('accordion') }" class="cursor-pointer group border border-neutral-100 bg-white rounded-lg hover:border-primary/20 transition duration-100">
                    <button @click="setActiveAccordion(id)" class="flex items-center justify-between w-full p-4 text-left select-none font-semibold gap-x-2">
                        <span>{{ 'home.faq.question.3.title'|trans|raw }}</span>
                        <svg class="w-4 h-4 duration-200 ease-out" :class="{ 'rotate-180': activeAccordion==id }" viewBox="0 0 24 24" xmlns="http://www.w3.org/2000/svg" fill="none" stroke="currentColor" stroke-width="2" stroke-linecap="round" stroke-linejoin="round"><polyline points="6 9 12 15 18 9"></polyline></svg>
                    </button>
                    <div x-show="activeAccordion==id" x-collapse x-cloak>
                        <div class="p-4 pt-0 opacity-70 text-neutral-800">
                            {{ 'home.faq.question.3.text'|trans|raw }}
                        </div>
                    </div>
                </div>
                <div x-data="{ id: $id('accordion') }" class="cursor-pointer group border border-neutral-100 bg-white rounded-lg hover:border-primary/20 transition duration-100">
                    <button @click="setActiveAccordion(id)" class="flex items-center justify-between w-full p-4 text-left select-none font-semibold gap-x-2">
                        <span>{{ 'home.faq.question.4.title'|trans|raw }}</span>
                        <svg class="w-4 h-4 duration-200 ease-out" :class="{ 'rotate-180': activeAccordion==id }" viewBox="0 0 24 24" xmlns="http://www.w3.org/2000/svg" fill="none" stroke="currentColor" stroke-width="2" stroke-linecap="round" stroke-linejoin="round"><polyline points="6 9 12 15 18 9"></polyline></svg>
                    </button>
                    <div x-show="activeAccordion==id" x-collapse x-cloak>
                        <div class="p-4 pt-0 opacity-70 text-neutral-800">
                            {{ 'home.faq.question.4.text'|trans|raw }}
                        </div>
                    </div>
                </div>
                <div x-data="{ id: $id('accordion') }" class="cursor-pointer group border border-neutral-100 bg-white rounded-lg hover:border-primary/20 transition duration-100">
                    <button @click="setActiveAccordion(id)" class="flex items-center justify-between w-full p-4 text-left select-none font-semibold gap-x-2">
                        <span>{{ 'home.faq.question.5.title'|trans|raw }}</span>
                        <svg class="w-4 h-4 duration-200 ease-out" :class="{ 'rotate-180': activeAccordion==id }" viewBox="0 0 24 24" xmlns="http://www.w3.org/2000/svg" fill="none" stroke="currentColor" stroke-width="2" stroke-linecap="round" stroke-linejoin="round"><polyline points="6 9 12 15 18 9"></polyline></svg>
                    </button>
                    <div x-show="activeAccordion==id" x-collapse x-cloak>
                        <div class="p-4 pt-0 opacity-70 text-neutral-800">
                            {{ 'home.faq.question.5.text'|trans|raw }}
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </section>
    {{ component('ctaFooter') }}
{% endblock %}
