{% extends 'base.html.twig' %}

{% block title %}{{ 'meta.landlords.title'|trans }}{% endblock %}
{% block description %}{{ 'meta.landlords.description'|trans }}{% endblock %}
{% block url %}{{ path('app_service_landlords') }}{% endblock %}

{% block body %}
    <section class="max-w-7xl mx-auto px-6 lg:px-8 relative z-10">
        <div class="grid grid-cols-1 lg:grid-cols-2 gap-6 py-8 lg:py-12 gap-y-12">
            <div class="mx-auto flex h-full w-full max-w-xl flex-col justify-center">
                <div class="pb-10 w-fit mx-auto lg:mx-0" aria-hidden="true">
                    <div class="border border-neutral-100 rounded-full px-4 py-1.5 flex items-center justify-center gap-x-2
                        text-sm text-slate-600  mx-auto bg-white shadow-lg shadow-gray-300/30">
                        <div class="flex justify-center items-center -space-x-1">
                            <span class="max-[382px]:hidden">{{ ux_icon('material-symbols:star-rounded', {'class':'size-5 text-yellow-500 shrink-0'}) }}</span>
                            <span class="max-[382px]:hidden">{{ ux_icon('material-symbols:star-rounded', {'class':'size-5 text-yellow-500 shrink-0'}) }}</span>
                            <span class="max-[382px]:hidden">{{ ux_icon('material-symbols:star-rounded', {'class':'size-5 text-yellow-500 shrink-0'}) }}</span>
                            <span class="max-[382px]:hidden">{{ ux_icon('material-symbols:star-rounded', {'class':'size-5 text-yellow-500 shrink-0'}) }}</span>
                            <span>{{ ux_icon('material-symbols:star-rounded', {'class':'size-5 text-yellow-500 shrink-0'}) }}</span>
                        </div>
                        <p>{{ 'findAccommodation.trust.1'|trans|raw }} <a href="https://share.google/oE0GyLX8xNnTNdX84" target="_blank" class="underline underline-offset-4 decoration-slate-400/80 hover:decoration-primary decoration-dotted hover:text-primary transition duration-100">+300 {{ 'findAccommodation.trust.2'|trans|raw }} </a></p>
                        <span>{{ ux_icon('material-icon-theme:google', {'class':'size-4 text-yellow-500 shrink-0'}) }}</span>
                    </div>
                </div>
                <h1 class="mx-auto max-w-2xl text-center text-5xl font-medium tracking-tight text-gray-900 lg:text-start lg:text-6xl/16 text-pretty">
                    Confiez-nous la gestion de votre bien
                </h1>
                <p class="mx-auto mt-5 max-w-lg text-center font-normal text-neutral-600 lg:mx-0 lg:text-start text-pretty">
                    {{ 'home.heroSection.subTitle'|trans|raw }}
                </p>
                <div class="grid grid-cols-1 min-[390px]:grid-cols-2 sm:grid-cols-3 gap-5 mt-10 mx-auto lg:mx-0">
                    <div class="flex items-center gap-3 justify-center lg:justify-start">
                        {{ ux_icon('gravity-ui:thunderbolt', {'class':'size-5 text-primary shrink-0'}) }}
                        <p class="text-slate-800 text-sm font-medium">{{ 'home.heroSection.service.1'|trans|raw }}</p>
                    </div>
                    <div class="flex items-center gap-3  justify-center lg:justify-start">
                        {{ ux_icon('mdi:world', {'class':'size-5 text-primary shrink-0'}) }}
                        <p class="text-slate-800 text-sm font-medium">{{ 'home.heroSection.service.2'|trans|raw }}</p>
                    </div>
                    <div class="flex items-center gap-3 justify-center lg:justify-start min-[390px]:col-span-2 sm:col-span-1">
                        {{ ux_icon('humbleicons:key', {'class':'size-5 text-primary shrink-0'}) }}
                        <p class="text-slate-800 text-sm font-medium">{{ 'home.heroSection.service.3'|trans|raw }}</p>
                    </div>
                </div>
            </div>
            <div>
                <div class="max-w-lg mx-auto p-2 rounded-3xl bg-linear-to-b from-primary to-primary/30">
                    <div class="p-2">
                        <p class="text-sm text-white uppercase tracking-normal font-medium text-center">
                            {{ 'propertyEstimation.form.title'|trans|raw }}
                        </p>
                    </div>
                    <div class="px-6 pt-6 pb-1 bg-white rounded-2xl mt-2" >
                        {{ form_start(form, {'attr': {'data-turbo': 'true', 'novalidate': 'novalidate', 'class': 'space-y-6'}}) }}
                            <div>
                                {{ form_label(form.address, null, {'label_attr': {'class': 'font-semibold text-gray-900 text-sm block mb-2'}}) }}
                                {{ form_widget(form.address, {'attr': {'class': 'block w-full rounded-lg bg-white px-3 py-2.5 text-base text-gray-900 border border-gray-300 placeholder:text-gray-400 focus:outline focus:outline-2 focus:-outline-offset-2 focus:ring-primary/60 focus:outline-primary/80 sm:text-sm/6', 'placeholder': 'propertyEstimation.form.address.placeholder'|trans }}) }}
                            </div>
                            <div>
                                {{ form_label(form.propertyCondition, null, {'label_attr': {'class': 'font-semibold text-gray-900 text-sm block mb-2'}}) }}
                                {{ form_widget(form.propertyCondition, {'attr': {'class': 'block w-full rounded-lg bg-white px-3 py-2.5 text-base text-gray-900 border border-gray-300 placeholder:text-gray-400 focus:outline focus:outline-2 focus:-outline-offset-2 focus:ring-primary/60 focus:outline-primary/80 sm:text-sm/6'}}) }}
                            </div>
                            <div class="grid grid-cols-2 lg:grid-cols-3 gap-6">
                                <div data-controller="number-stepper" data-number-stepper-min-value="0" data-number-stepper-max-value="20">
                                    <div class="flex items-center gap-x-1 mb-2">
                                        {{ ux_icon('ph:bed', {'class':'size-5 text-primary shrink-0'}) }}
                                        {{ form_label(form.bedroom, null, {'label_attr': {'class': 'font-semibold text-gray-900 text-sm block'}}) }}
                                    </div>
                                    <div class="relative">
                                        <button type="button" data-action="mousedown->number-stepper#startDecrementHold mouseup->number-stepper#stopHold mouseleave->number-stepper#stopHold touchstart->number-stepper#startDecrementHold touchend->number-stepper#stopHold" class="absolute left-3 top-1/2 -translate-y-1/2 text-gray-900 text-xl font-light bg-gray-50 rounded-full w-7 h-7 flex items-center justify-center hover:bg-gray-100 active:bg-gray-200 transition-colors">-</button>
                                        {{ form_widget(form.bedroom, {'attr': {
                                            'class': 'block w-full rounded-lg bg-white px-3 py-2.5 text-base text-gray-900 border border-gray-300 placeholder:text-gray-400 focus:outline focus:outline-2 focus:-outline-offset-2 focus:ring-primary/60 focus:outline-primary/80 sm:text-sm/6 text-center',
                                            'placeholder': 'propertyEstimation.form.bedroom.placeholder'|trans,
                                            'data-number-stepper-target': 'input'
                                        }}) }}
                                        <button type="button" data-action="mousedown->number-stepper#startIncrementHold mouseup->number-stepper#stopHold mouseleave->number-stepper#stopHold touchstart->number-stepper#startIncrementHold touchend->number-stepper#stopHold" class="absolute right-3 top-1/2 -translate-y-1/2 text-gray-900 text-xl font-light bg-gray-50 rounded-full w-7 h-7 flex items-center justify-center hover:bg-gray-100 active:bg-gray-200 transition-colors">+</button>
                                    </div>
                                </div>
                                <div data-controller="number-stepper" data-number-stepper-min-value="0" data-number-stepper-max-value="10">
                                    <div class="flex items-center gap-x-1 mb-2">
                                        {{ ux_icon('mdi:shower', {'class':'size-5 text-primary shrink-0'}) }}
                                        {{ form_label(form.bathroom, null, {'label_attr': {'class': 'font-semibold text-gray-900 text-sm block'}}) }}
                                    </div>
                                    <div class="relative">
                                        <button type="button" data-action="mousedown->number-stepper#startDecrementHold mouseup->number-stepper#stopHold mouseleave->number-stepper#stopHold touchstart->number-stepper#startDecrementHold touchend->number-stepper#stopHold" class="absolute left-3 top-1/2 -translate-y-1/2 text-gray-900 text-xl font-light bg-gray-50 rounded-full w-7 h-7 flex items-center justify-center hover:bg-gray-100 active:bg-gray-200 transition-colors">-</button>
                                        {{ form_widget(form.bathroom, {'attr': {
                                            'class': 'block w-full rounded-lg bg-white px-3 py-2.5 text-base text-gray-900 border border-gray-300 placeholder:text-gray-400 focus:outline focus:outline-2 focus:-outline-offset-2 focus:ring-primary/60 focus:outline-primary/80 sm:text-sm/6 text-center',
                                            'placeholder': 'propertyEstimation.form.bathroom.placeholder'|trans,
                                            'data-number-stepper-target': 'input'
                                        }}) }}
                                        <button type="button" data-action="mousedown->number-stepper#startIncrementHold mouseup->number-stepper#stopHold mouseleave->number-stepper#stopHold touchstart->number-stepper#startIncrementHold touchend->number-stepper#stopHold" class="absolute right-3 top-1/2 -translate-y-1/2 text-gray-900 text-xl font-light bg-gray-50 rounded-full w-7 h-7 flex items-center justify-center hover:bg-gray-100 active:bg-gray-200 transition-colors">+</button>
                                    </div>
                                </div>
                                <div data-controller="number-stepper" data-number-stepper-min-value="8" data-number-stepper-max-value="900" class="col-span-2 lg:col-span-1">
                                    <div class="flex items-center gap-x-1 mb-2">
                                        {{ ux_icon('qlementine-icons:square-2-16', {'class':'size-5 text-primary shrink-0'}) }}
                                        {{ form_label(form.surface, null, {'label_attr': {'class': 'font-semibold text-gray-900 text-sm block'}}) }}
                                        <span class="text-xs font-light text-gray-400">(m²)</span>
                                    </div>
                                    <div class="relative">
                                        <button type="button" data-action="mousedown->number-stepper#startDecrementHold mouseup->number-stepper#stopHold mouseleave->number-stepper#stopHold touchstart->number-stepper#startDecrementHold touchend->number-stepper#stopHold" class="absolute left-3 top-1/2 -translate-y-1/2 text-gray-900 text-xl font-light bg-gray-50 rounded-full w-7 h-7 flex items-center justify-center hover:bg-gray-100 active:bg-gray-200 transition-colors">-</button>
                                        {{ form_widget(form.surface, {'attr': {
                                            'class': 'block w-full rounded-lg bg-white px-3 py-2.5 text-base text-gray-900 border border-gray-300 placeholder:text-gray-400 focus:outline focus:outline-2 focus:-outline-offset-2 focus:ring-primary/60 focus:outline-primary/80 sm:text-sm/6 text-center',
                                            'placeholder': 'propertyEstimation.form.bathroom.placeholder'|trans,
                                            'data-number-stepper-target': 'input'
                                        }}) }}
                                        <button type="button" data-action="mousedown->number-stepper#startIncrementHold mouseup->number-stepper#stopHold mouseleave->number-stepper#stopHold touchstart->number-stepper#startIncrementHold touchend->number-stepper#stopHold" class="absolute right-3 top-1/2 -translate-y-1/2 text-gray-900 text-xl font-light bg-gray-50 rounded-full w-7 h-7 flex items-center justify-center hover:bg-gray-100 active:bg-gray-200 transition-colors">+</button>
                                    </div>
                                </div>
                            </div>
                            <div>
                                {{ form_label(form.phoneNumber, null, {'label_attr': {'class': 'font-semibold text-gray-900 text-sm block mb-2'}}) }}
                                {{ form_widget(form.phoneNumber, {'attr': {'class': 'block w-full rounded-lg bg-white px-3 py-2.5 text-base text-gray-900 border border-gray-300 placeholder:text-gray-400 focus:outline focus:outline-2 focus:-outline-offset-2 focus:ring-primary/60 focus:outline-primary/80 sm:text-sm/6', 'placeholder': 'propertyEstimation.form.phoneNumber.placeholder'|trans}}) }}
                            </div>
                            <div>
                                {{ form_label(form.email, null, {'label_attr': {'class': 'font-semibold text-gray-900 text-sm block mb-2'}}) }}
                                {{ form_widget(form.email, {'attr': {'class': 'block w-full rounded-lg bg-white px-3 py-2.5 text-base text-gray-900 border border-gray-300 placeholder:text-gray-400 focus:outline focus:outline-2 focus:-outline-offset-2 focus:ring-primary/60 focus:outline-primary/80 sm:text-sm/6', 'placeholder': 'propertyEstimation.form.email.placeholder'|trans}}) }}
                            </div>
                            <button type="submit"
                                    class="flex items-center justify-center gap-x-1 cursor-pointer block w-full rounded-full bg-primary px-4 py-3.5 text-sm text-white font-medium hover:bg-primary/80 transition duration-100">
                                {{ 'propertyEstimation.form.button'|trans|raw }}
                                {{ ux_icon('lucide:check', {'class':'text-white shrink-0 size-5'}) }}
                            </button>
                            <div class="grid grid-cols-2 gap-4 mt-4 divide-x divide-gray-200 mx-auto max-w-sm">
                                <p class="text-xs text-gray-500 text-center mx-0.5">
                                    {{ 'propertyEstimation.form.trust.1'|trans|raw }}
                                </p>
                                <p class="text-xs text-gray-500 text-center mx-0.5">
                                    {{ 'propertyEstimation.form.trust.2'|trans|raw }}
                                </p>
                            </div>
                        {{ form_end(form) }}
                    </div>
                </div>
            </div>
        </div>
    </section>
    <section class="max-w-7xl mx-auto lg:px-8 px-6 lg:py-16 py-12">
        <div class="max-w-3xl mx-auto">
            <div class="pb-12 lg:pb-16 space-y-3 mx-auto space-y-3 text-center">
                <h2 class="font-semibold text-primary font-secondary">{{ 'home.faq.title'|trans|raw }}</h2>
                <h3 class="text-3xl font-medium text-pretty">{{ 'home.faq.subTitle'|trans|raw }}</h3>
            </div>
            <div x-data="{
                    activeAccordion: '',
                    setActiveAccordion(id) {
                        this.activeAccordion = (this.activeAccordion == id) ? '' : id
                    }
                }" class="relative w-full mx-auto overflow-hidden space-y-4">
                <div x-data="{ id: $id('accordion') }" class="cursor-pointer group border border-neutral-100 bg-white rounded-lg hover:border-primary/20 transition duration-100">
                    <button @click="setActiveAccordion(id)" class="flex items-center justify-between w-full p-4 text-left select-none font-semibold gap-x-2">
                        <span>{{ 'landlords.faq.question.1.title'|trans|raw }}</span>
                        <svg class="w-4 h-4 duration-200 ease-out shrink-0" :class="{ 'rotate-180': activeAccordion==id }" viewBox="0 0 24 24" xmlns="http://www.w3.org/2000/svg" fill="none" stroke="currentColor" stroke-width="2" stroke-linecap="round" stroke-linejoin="round"><polyline points="6 9 12 15 18 9"></polyline></svg>
                    </button>
                    <div x-show="activeAccordion==id" x-collapse x-cloak>
                        <div class="p-4 pt-0 opacity-70 text-neutral-800">
                            {{ 'landlords.faq.question.1.text'|trans|raw }}
                        </div>
                    </div>
                </div>
                <div x-data="{ id: $id('accordion') }" class="cursor-pointer group border border-neutral-100 bg-white rounded-lg hover:border-primary/20 transition duration-100">
                    <button @click="setActiveAccordion(id)" class="flex items-center justify-between w-full p-4 text-left select-none font-semibold gap-x-2">
                        <span>{{ 'landlords.faq.question.2.title'|trans|raw }}</span>
                        <svg class="w-4 h-4 duration-200 ease-out shrink-0" :class="{ 'rotate-180': activeAccordion==id }" viewBox="0 0 24 24" xmlns="http://www.w3.org/2000/svg" fill="none" stroke="currentColor" stroke-width="2" stroke-linecap="round" stroke-linejoin="round"><polyline points="6 9 12 15 18 9"></polyline></svg>
                    </button>
                    <div x-show="activeAccordion==id" x-collapse x-cloak>
                        <div class="p-4 pt-0 opacity-70 text-neutral-800">
                            {{ 'landlords.faq.question.2.text'|trans|raw }}
                        </div>
                    </div>
                </div>
                <div x-data="{ id: $id('accordion') }" class="cursor-pointer group border border-neutral-100 bg-white rounded-lg hover:border-primary/20 transition duration-100">
                    <button @click="setActiveAccordion(id)" class="flex items-center justify-between w-full p-4 text-left select-none font-semibold gap-x-2">
                        <span>{{ 'landlords.faq.question.3.title'|trans|raw }}</span>
                        <svg class="w-4 h-4 duration-200 ease-out shrink-0" :class="{ 'rotate-180': activeAccordion==id }" viewBox="0 0 24 24" xmlns="http://www.w3.org/2000/svg" fill="none" stroke="currentColor" stroke-width="2" stroke-linecap="round" stroke-linejoin="round"><polyline points="6 9 12 15 18 9"></polyline></svg>
                    </button>
                    <div x-show="activeAccordion==id" x-collapse x-cloak>
                        <div class="p-4 pt-0 opacity-70 text-neutral-800">
                            {{ 'landlords.faq.question.3.text'|trans|raw }}
                        </div>
                    </div>
                </div>
                <div x-data="{ id: $id('accordion') }" class="cursor-pointer group border border-neutral-100 bg-white rounded-lg hover:border-primary/20 transition duration-100">
                    <button @click="setActiveAccordion(id)" class="flex items-center justify-between w-full p-4 text-left select-none font-semibold gap-x-2">
                        <span>{{ 'landlords.faq.question.4.title'|trans|raw }}</span>
                        <svg class="w-4 h-4 duration-200 ease-out shrink-0" :class="{ 'rotate-180': activeAccordion==id }" viewBox="0 0 24 24" xmlns="http://www.w3.org/2000/svg" fill="none" stroke="currentColor" stroke-width="2" stroke-linecap="round" stroke-linejoin="round"><polyline points="6 9 12 15 18 9"></polyline></svg>
                    </button>
                    <div x-show="activeAccordion==id" x-collapse x-cloak>
                        <div class="p-4 pt-0 opacity-70 text-neutral-800">
                            {{ 'landlords.faq.question.4.text'|trans|raw }}
                        </div>
                    </div>
                </div>
                <div x-data="{ id: $id('accordion') }" class="cursor-pointer group border border-neutral-100 bg-white rounded-lg hover:border-primary/20 transition duration-100">
                    <button @click="setActiveAccordion(id)" class="flex items-center justify-between w-full p-4 text-left select-none font-semibold gap-x-2">
                        <span>{{ 'landlords.faq.question.5.title'|trans|raw }}</span>
                        <svg class="w-4 h-4 duration-200 ease-out shrink-0" :class="{ 'rotate-180': activeAccordion==id }" viewBox="0 0 24 24" xmlns="http://www.w3.org/2000/svg" fill="none" stroke="currentColor" stroke-width="2" stroke-linecap="round" stroke-linejoin="round"><polyline points="6 9 12 15 18 9"></polyline></svg>
                    </button>
                    <div x-show="activeAccordion==id" x-collapse x-cloak>
                        <div class="p-4 pt-0 opacity-70 text-neutral-800">
                            {{ 'landlords.faq.question.5.text'|trans|raw }}
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </section>
    {{ component('ctaFooter') }}
{% endblock %}
