{% extends 'base.html.twig' %}

{% block title %}{{ 'meta.landlords.title'|trans }}{% endblock %}
{% block description %}{{ 'meta.landlords.description'|trans }}{% endblock %}
{% block url %}{{ path('app_service_landlords') }}{% endblock %}

{% block body %}
    <section class="max-w-7xl mx-auto px-6 lg:px-8 relative z-10">
        <div class="grid grid-cols-1 lg:grid-cols-2 gap-6 py-8 lg:py-12 gap-y-12">
            <div class="mx-auto flex h-full w-full max-w-xl flex-col justify-center">
                <div class="pb-10 w-fit mx-auto lg:mx-0" aria-hidden="true">
                    <div class="border border-neutral-100 rounded-full px-4 py-1.5 flex items-center justify-center gap-x-2
                        text-sm text-slate-600  mx-auto bg-white shadow-lg shadow-gray-300/30">
                        <div class="flex justify-center items-center -space-x-1">
                            <span class="max-[382px]:hidden">{{ ux_icon('material-symbols:star-rounded', {'class':'size-5 text-yellow-500 shrink-0'}) }}</span>
                            <span class="max-[382px]:hidden">{{ ux_icon('material-symbols:star-rounded', {'class':'size-5 text-yellow-500 shrink-0'}) }}</span>
                            <span class="max-[382px]:hidden">{{ ux_icon('material-symbols:star-rounded', {'class':'size-5 text-yellow-500 shrink-0'}) }}</span>
                            <span class="max-[382px]:hidden">{{ ux_icon('material-symbols:star-rounded', {'class':'size-5 text-yellow-500 shrink-0'}) }}</span>
                            <span>{{ ux_icon('material-symbols:star-rounded', {'class':'size-5 text-yellow-500 shrink-0'}) }}</span>
                        </div>
                        <p>{{ 'findAccommodation.trust.1'|trans|raw }} <a href="https://share.google/oE0GyLX8xNnTNdX84" target="_blank" class="underline underline-offset-4 decoration-slate-400/80 hover:decoration-primary decoration-dotted hover:text-primary transition duration-100">+300 {{ 'findAccommodation.trust.2'|trans|raw }} </a></p>
                        <span>{{ ux_icon('material-icon-theme:google', {'class':'size-4 text-yellow-500 shrink-0'}) }}</span>
                    </div>
                </div>
                <h1 class="mx-auto max-w-2xl text-center text-5xl font-medium tracking-tight text-gray-900 lg:text-start lg:text-6xl/16 text-pretty">
                    {{ 'propertyManagement.hero.title'|trans|raw }}
                </h1>
                <p class="mx-auto mt-5 max-w-lg text-center font-normal text-neutral-600 lg:mx-0 lg:text-start text-pretty">
                    {{ 'propertyManagement.hero.text'|trans|raw }}
                </p>
                <div class="grid grid-cols-1 min-[390px]:grid-cols-2 sm:grid-cols-3 gap-5 mt-10 mx-auto lg:mx-0">
                    <div class="flex items-center gap-3 justify-center lg:justify-start">
                        {{ ux_icon('ic:outline-shield', {'class':'size-5 text-primary shrink-0'}) }}
                        <p class="text-slate-800 text-sm font-medium">
                            {{ 'propertyManagement.hero.service.1'|trans|raw }}
                        </p>
                    </div>
                    <div class="flex items-center gap-3  justify-center lg:justify-start">
                        {{ ux_icon('mi:user-check', {'class':'size-5 text-primary shrink-0'}) }}
                        <p class="text-slate-800 text-sm font-medium">
                            {{ 'propertyManagement.hero.service.2'|trans|raw }}
                        </p>
                    </div>
                    <div class="flex items-center gap-3 justify-center lg:justify-start min-[390px]:col-span-2 sm:col-span-1">
                        {{ ux_icon('mingcute:trending-up-line', {'class':'size-5 text-primary shrink-0'}) }}
                        <p class="text-slate-800 text-sm font-medium">
                            {{ 'propertyManagement.hero.service.3'|trans|raw }}
                        </p>
                    </div>
                </div>
                <div class="mt-8 flex flex-col sm:flex-row items-center justify-center lg:justify-start">
                    <div>
                        <a href="tel:{{ phone_number }}"
                           class="flex items-center gap-x-3 group rounded-full bg-primary border-2 border-primary px-6 py-3 text-sm uppercase font-semibold text-white hover:text-primary transition duration-100 hover:bg-white focus:outline-none focus-visible:ring-2 focus-visible:ring-offset-2 focus-visible:ring-[#71172e]">
                            <div class="bg-white group-hover:bg-primary rounded-full p-1.5">
                                {{ ux_icon('ix:support', {'class':'size-5 text-primary shrink-0 group-hover:text-white transition duration-100'}) }}
                            </div>
                            {{ phone_number }}
                        </a>
                        <div>
                            <p class="text-xs text-slate-500 font-light text-center mt-2">
                                {{ 'propertyManagement.hero.subButton'|trans|raw }}
                            </p>
                        </div>
                    </div>
                </div>
            </div>
            <div>
                <div class="max-w-lg mx-auto p-2 rounded-3xl bg-linear-to-b from-primary to-primary/30">
                    <div class="p-2 flex items-center justify-center gap-x-2">
                        <div class="flex -space-x-2 max-[330px]:hidden">
                            <img src="{{ asset('medias/team/team_1.webp') }}" alt="{{ 'ctaFooter.image.1.alt'|trans|raw }}" loading="lazy" width="40" height="40" class="inline-block size-7 rounded-full outline outline-1 -outline-offset-1 outline-gray-700/10 ring-2 ring-white" />
                            <img src="{{ asset('medias/team/team_5.webp') }}" alt="{{ 'ctaFooter.image.2.alt'|trans|raw }}" loading="lazy" width="40" height="40" class="inline-block size-7 rounded-full outline outline-1 -outline-offset-1 outline-gray-700/10 ring-2 ring-white" />
                            <img src="{{ asset('medias/team/team_3.webp') }}" alt="{{ 'ctaFooter.image.3.alt'|trans|raw }}" loading="lazy" width="40" height="40" class="inline-block size-7 rounded-full outline outline-1 -outline-offset-1 outline-gray-700/10 ring-2 ring-white" />
                        </div>
                        <p class="text-sm text-white uppercase tracking-normal font-medium text-center">
                            {{ 'propertyManagement.form.title'|trans|raw }}
                        </p>
                    </div>
                    <div class="px-6 pt-6 pb-1 bg-white rounded-2xl mt-2" id="estimation-form">
                        {{ form_start(form, {'attr': {'data-turbo': 'true', 'novalidate': 'novalidate', 'class': 'space-y-6'}}) }}
                            {% for message in app.flashes('success') %}
                                <div class="rounded-xl bg-green-50 p-4">
                                    <div class="flex items-start gap-x-3">
                                        <div class="flex-shrink-0">
                                            {{ ux_icon('lucide:circle-check', {'class':'text-green-600 size-5'}) }}
                                        </div>
                                        <div class="space-y-0.5">
                                            <h3 class="text-base font-medium text-green-800 -mt-0.5">{{ message }}</h3>
                                            <p class="text-sm text-slate-600">
                                                {{ 'propertyManagement.form.success.text'|trans|raw }}
                                            </p>
                                        </div>
                                    </div>
                                </div>
                            {% endfor %}
                            <div>
                                {{ form_label(form.address, null, {'label_attr': {'class': 'font-semibold text-gray-900 text-sm block mb-2'}}) }}
                                {{ form_widget(form.address, {'attr': {'class': 'block w-full rounded-lg bg-white px-3 py-2.5 text-base text-gray-900 border border-gray-300 placeholder:text-gray-400 focus:outline focus:outline-2 focus:-outline-offset-2 focus:ring-primary/60 focus:outline-primary/80 sm:text-sm/6', 'placeholder': 'propertyManagement.form.address.placeholder'|trans }}) }}
                            </div>
                            <div>
                                {{ form_label(form.propertyCondition, null, {'label_attr': {'class': 'font-semibold text-gray-900 text-sm block mb-2'}}) }}
                                {{ form_widget(form.propertyCondition, {'attr': {'class': 'block w-full rounded-lg bg-white px-3 py-2.5 text-base text-gray-900 border border-gray-300 placeholder:text-gray-400 focus:outline focus:outline-2 focus:-outline-offset-2 focus:ring-primary/60 focus:outline-primary/80 sm:text-sm/6'}}) }}
                            </div>
                            <div class="grid grid-cols-2 lg:grid-cols-3 gap-6">
                                <div data-controller="number-stepper" data-number-stepper-min-value="0" data-number-stepper-max-value="20">
                                    <div class="flex items-center gap-x-1 mb-2">
                                        {{ ux_icon('ph:bed', {'class':'size-5 text-primary shrink-0'}) }}
                                        {{ form_label(form.bedroom, null, {'label_attr': {'class': 'font-semibold text-gray-900 text-sm block'}}) }}
                                    </div>
                                    <div class="relative">
                                        <button type="button" data-action="mousedown->number-stepper#startDecrementHold mouseup->number-stepper#stopHold mouseleave->number-stepper#stopHold touchstart->number-stepper#startDecrementHold touchend->number-stepper#stopHold" class="absolute left-3 top-1/2 -translate-y-1/2 text-gray-900 text-xl font-light bg-gray-50 rounded-full w-7 h-7 flex items-center justify-center hover:bg-gray-100 active:bg-gray-200 transition-colors">-</button>
                                        {{ form_widget(form.bedroom, {'attr': {
                                            'class': 'block w-full rounded-lg bg-white px-3 py-2.5 text-base text-gray-900 border border-gray-300 placeholder:text-gray-400 focus:outline focus:outline-2 focus:-outline-offset-2 focus:ring-primary/60 focus:outline-primary/80 sm:text-sm/6 text-center',
                                            'placeholder': 'propertyManagement.form.bedroom.placeholder'|trans,
                                            'data-number-stepper-target': 'input'
                                        }}) }}
                                        <button type="button" data-action="mousedown->number-stepper#startIncrementHold mouseup->number-stepper#stopHold mouseleave->number-stepper#stopHold touchstart->number-stepper#startIncrementHold touchend->number-stepper#stopHold" class="absolute right-3 top-1/2 -translate-y-1/2 text-gray-900 text-xl font-light bg-gray-50 rounded-full w-7 h-7 flex items-center justify-center hover:bg-gray-100 active:bg-gray-200 transition-colors">+</button>
                                    </div>
                                </div>
                                <div data-controller="number-stepper" data-number-stepper-min-value="0" data-number-stepper-max-value="10">
                                    <div class="flex items-center gap-x-1 mb-2">
                                        {{ ux_icon('mdi:shower', {'class':'size-5 text-primary shrink-0'}) }}
                                        {{ form_label(form.bathroom, null, {'label_attr': {'class': 'font-semibold text-gray-900 text-sm block'}}) }}
                                    </div>
                                    <div class="relative">
                                        <button type="button" data-action="mousedown->number-stepper#startDecrementHold mouseup->number-stepper#stopHold mouseleave->number-stepper#stopHold touchstart->number-stepper#startDecrementHold touchend->number-stepper#stopHold" class="absolute left-3 top-1/2 -translate-y-1/2 text-gray-900 text-xl font-light bg-gray-50 rounded-full w-7 h-7 flex items-center justify-center hover:bg-gray-100 active:bg-gray-200 transition-colors">-</button>
                                        {{ form_widget(form.bathroom, {'attr': {
                                            'class': 'block w-full rounded-lg bg-white px-3 py-2.5 text-base text-gray-900 border border-gray-300 placeholder:text-gray-400 focus:outline focus:outline-2 focus:-outline-offset-2 focus:ring-primary/60 focus:outline-primary/80 sm:text-sm/6 text-center',
                                            'placeholder': 'propertyManagement.form.bathroom.placeholder'|trans,
                                            'data-number-stepper-target': 'input'
                                        }}) }}
                                        <button type="button" data-action="mousedown->number-stepper#startIncrementHold mouseup->number-stepper#stopHold mouseleave->number-stepper#stopHold touchstart->number-stepper#startIncrementHold touchend->number-stepper#stopHold" class="absolute right-3 top-1/2 -translate-y-1/2 text-gray-900 text-xl font-light bg-gray-50 rounded-full w-7 h-7 flex items-center justify-center hover:bg-gray-100 active:bg-gray-200 transition-colors">+</button>
                                    </div>
                                </div>
                                <div data-controller="number-stepper" data-number-stepper-min-value="8" data-number-stepper-max-value="900" class="col-span-2 lg:col-span-1">
                                    <div class="flex items-center gap-x-1 mb-2">
                                        {{ ux_icon('qlementine-icons:square-2-16', {'class':'size-5 text-primary shrink-0'}) }}
                                        {{ form_label(form.surface, null, {'label_attr': {'class': 'font-semibold text-gray-900 text-sm block'}}) }}
                                        <span class="text-xs font-light text-gray-400">(m²)</span>
                                    </div>
                                    <div class="relative">
                                        <button type="button" data-action="mousedown->number-stepper#startDecrementHold mouseup->number-stepper#stopHold mouseleave->number-stepper#stopHold touchstart->number-stepper#startDecrementHold touchend->number-stepper#stopHold" class="absolute left-3 top-1/2 -translate-y-1/2 text-gray-900 text-xl font-light bg-gray-50 rounded-full w-7 h-7 flex items-center justify-center hover:bg-gray-100 active:bg-gray-200 transition-colors">-</button>
                                        {{ form_widget(form.surface, {'attr': {
                                            'class': 'block w-full rounded-lg bg-white px-3 py-2.5 text-base text-gray-900 border border-gray-300 placeholder:text-gray-400 focus:outline focus:outline-2 focus:-outline-offset-2 focus:ring-primary/60 focus:outline-primary/80 sm:text-sm/6 text-center',
                                            'placeholder': 'propertyManagement.form.bathroom.placeholder'|trans,
                                            'data-number-stepper-target': 'input'
                                        }}) }}
                                        <button type="button" data-action="mousedown->number-stepper#startIncrementHold mouseup->number-stepper#stopHold mouseleave->number-stepper#stopHold touchstart->number-stepper#startIncrementHold touchend->number-stepper#stopHold" class="absolute right-3 top-1/2 -translate-y-1/2 text-gray-900 text-xl font-light bg-gray-50 rounded-full w-7 h-7 flex items-center justify-center hover:bg-gray-100 active:bg-gray-200 transition-colors">+</button>
                                    </div>
                                </div>
                            </div>
                            <div>
                                {{ form_label(form.phoneNumber, null, {'label_attr': {'class': 'font-semibold text-gray-900 text-sm block mb-2'}}) }}
                                {{ form_widget(form.phoneNumber, {'attr': {'class': 'block w-full rounded-lg bg-white px-3 py-2.5 text-base text-gray-900 border border-gray-300 placeholder:text-gray-400 focus:outline focus:outline-2 focus:-outline-offset-2 focus:ring-primary/60 focus:outline-primary/80 sm:text-sm/6', 'placeholder': 'propertyManagement.form.phoneNumber.placeholder'|trans}}) }}
                            </div>
                            <div>
                                {{ form_label(form.email, null, {'label_attr': {'class': 'font-semibold text-gray-900 text-sm block mb-2'}}) }}
                                {{ form_widget(form.email, {'attr': {'class': 'block w-full rounded-lg bg-white px-3 py-2.5 text-base text-gray-900 border border-gray-300 placeholder:text-gray-400 focus:outline focus:outline-2 focus:-outline-offset-2 focus:ring-primary/60 focus:outline-primary/80 sm:text-sm/6', 'placeholder': 'propertyManagement.form.email.placeholder'|trans}}) }}
                            </div>
                            <button type="submit"
                                    class="flex items-center justify-center gap-x-1 cursor-pointer block w-full rounded-full bg-primary px-4 py-3.5 text-sm text-white font-medium hover:bg-primary/80 transition duration-100">
                                {{ 'propertyManagement.form.button'|trans|raw }}
                                {{ ux_icon('lucide:check', {'class':'text-white shrink-0 size-5'}) }}
                            </button>
                            <div class="grid grid-cols-2 gap-4 mt-4 divide-x divide-gray-200 items-center mx-auto max-w-sm">
                                <p class="text-xs text-gray-500 text-center mx-0.5">
                                    {{ 'propertyManagement.form.trust.1'|trans|raw }}
                                </p>
                                <p class="text-xs text-gray-500 text-center mx-0.5">
                                    {{ 'propertyManagement.form.trust.2'|trans|raw }}
                                </p>
                            </div>
                        {{ form_end(form) }}
                    </div>
                </div>
            </div>
        </div>
    </section>
    <section class="relative w-full bg-white container-block py-6 lg:py-12">
        <div
            x-data="{ init() { $nextTick(() => { const content = $refs.content; const item = $refs.item; content.appendChild(item.cloneNode(true)); }); } }"
            class="relative w-full py-3 mx-auto overflow-hidden bg-white max-w-7xl"
        >
            <!-- Gradients de bordure -->
            <div class="absolute left-0 z-20 w-20 md:w-40 h-full bg-gradient-to-r from-white to-transparent pointer-events-none"></div>
            <div class="absolute right-0 z-20 w-20 md:w-40 h-full bg-gradient-to-l from-white to-transparent pointer-events-none"></div>

            <!-- Container du marquee -->
            <div x-ref="content" class="flex animate-marquee gap-6">
                <div x-ref="item" class="flex items-center flex-shrink-0 gap-6">
                    <img
                        src="{{ asset('medias/website/flat_1.webp') }}"
                        class="w-auto h-32 sm:h-40 md:h-44 lg:h-48 aspect-square object-cover rounded-xl shadow-lg shadow-gray-300/30"
                        width="493"
                        height="493"
                        alt="Relocation Paris"
                        loading="lazy"
                    />
                    <img
                        src="{{ asset('medias/website/flat_2.webp') }}"
                        class="w-auto h-32 sm:h-40 md:h-44 lg:h-48 aspect-square object-cover rounded-xl shadow-lg shadow-gray-300/30"
                        width="493"
                        height="493"
                        alt="Relocation Paris"
                        loading="lazy"
                    />
                    <img
                        src="{{ asset('medias/website/flat_3.webp') }}"
                        class="w-auto h-32 sm:h-40 md:h-44 lg:h-48 aspect-square object-cover rounded-xl shadow-lg shadow-gray-300/30"
                        width="493"
                        height="493"
                        alt="Relocation Paris"
                        loading="lazy"
                    />
                    <img
                        src="{{ asset('medias/website/flat_4.webp') }}"
                        class="w-auto h-32 sm:h-40 md:h-44 lg:h-48 aspect-square object-cover rounded-xl shadow-lg shadow-gray-300/30"
                        width="493"
                        height="493"
                        alt="Relocation Paris"
                        loading="lazy"
                    />
                    <img
                        src="{{ asset('medias/website/flat_5.webp') }}"
                        class="w-auto h-32 sm:h-40 md:h-44 lg:h-48 aspect-square object-cover rounded-xl shadow-lg shadow-gray-300/30"
                        width="493"
                        height="493"
                        alt="Relocation Paris"
                        loading="lazy"
                    />
                    <img
                        src="{{ asset('medias/website/flat_6.webp') }}"
                        class="w-auto h-32 sm:h-40 md:h-44 lg:h-48 aspect-square object-cover rounded-xl shadow-lg shadow-gray-300/30"
                        width="493"
                        height="493"
                        alt="Relocation Paris"
                        loading="lazy"
                    />
                </div>
            </div>
        </div>
    </section>
    <section class="max-w-6xl mx-auto lg:px-8 px-6 lg:py-16 py-12">
        <div class="rounded-2xl bg-neutral-100/80 p-8">
            <div class="mt-5 pb-12 lg:pb-16 mx-auto text-center space-y-3">
                <h2 class="text-sm font-semibold text-primary font-secondary">{{ 'propertyManagement.service.title'|trans|raw }}</h2>
                <h2 class="text-3xl font-medium text-pretty text-center">{{ 'propertyManagement.service.subTitle'|trans|raw }}</h2>
            </div>
            <div class="max-w-4xl mx-auto lg:px-8 px-6 lg:pb-16 pb-12">
                <div class="relative overflow-hidden rounded-2xl bg-primary/5 p-2 ring-1 ring-inset ring-primary/10">
                    <video
                        class="w-full h-auto rounded-xl"
                        controls
                        preload="metadata"
                        playsinline
                    >
                        <source src="{{ asset('medias/videos/test.mp4') }}" type="video/mp4">
                        Your browser does not support the video tag.
                    </video>
                </div>
            </div>
            <div class="grid grid-cols-1 sm:grid-cols-2 gap-6 lg:grid-cols-3">
                <div class="bg-white rounded-xl p-6 border border-neutral-100 hover:border-primary/20 transition-colors duration-100 space-y-2 shadow-lg shadow-gray-300/30 group">
                    <div class="flex items-center flex-col gap-3">
                        <div class="p-2 border bg-white border-slate-200 block rounded-lg w-fit group-hover:bg-primary transition-colors duration-100">
                            {{ ux_icon('ri:target-fill', {'class':'size-6 text-primary shrink-0 group-hover:text-white'}) }}
                        </div>
                        <h3 class="font-semibold text-lg text-center text-pretty">{{ 'propertyManagement.service.1.title'|trans|raw }}</h3>
                    </div>
                    <p class="flex-auto text-neutral-800/70 text-base/6 text-center">{{ 'propertyManagement.service.1.text'|trans|raw }}</p>
                </div>
                <div class="bg-white rounded-xl p-6 border border-neutral-100 hover:border-primary/20 transition-colors duration-100 space-y-2 shadow-lg shadow-gray-300/30 group">
                    <div class="flex items-center flex-col gap-3">
                        <div class="p-2 border bg-white border-slate-200 block rounded-lg w-fit group-hover:bg-primary transition-colors duration-100">
                            {{ ux_icon('tabler:home-plus', {'class':'size-6 text-primary shrink-0 group-hover:text-white'}) }}
                        </div>
                        <h3 class="font-semibold text-lg text-center text-pretty">{{ 'propertyManagement.service.2.title'|trans|raw }}</h3>
                    </div>
                    <p class="flex-auto text-neutral-800/70 text-base/6 text-center">{{ 'propertyManagement.service.2.text'|trans|raw }}</p>
                </div>
                <div class="bg-white rounded-xl p-6 border border-neutral-100 hover:border-primary/20 transition-colors duration-100 space-y-2 shadow-lg shadow-gray-300/30 group">
                    <div class="flex items-center flex-col gap-3">
                        <div class="p-2 border bg-white border-slate-200 block rounded-lg w-fit group-hover:bg-primary transition-colors duration-100">
                            {{ ux_icon('mi:user-check', {'class':'size-6 text-primary shrink-0 group-hover:text-white'}) }}
                        </div>
                        <h3 class="font-semibold text-lg text-center text-pretty">{{ 'propertyManagement.service.3.title'|trans|raw }}</h3>
                    </div>
                    <p class="flex-auto text-neutral-800/70 text-base/6 text-center">{{ 'propertyManagement.service.3.text'|trans|raw }}</p>
                </div>
                <div class="bg-white rounded-xl p-6 border border-neutral-100 hover:border-primary/20 transition-colors duration-100 space-y-2 shadow-lg shadow-gray-300/30 group">
                    <div class="flex items-center flex-col gap-3">
                        <div class="p-2 border bg-white border-slate-200 block rounded-lg w-fit group-hover:bg-primary transition-colors duration-100">
                            {{ ux_icon('ph:sliders-duotone', {'class':'size-6 text-primary shrink-0 group-hover:text-white'}) }}
                        </div>
                        <h3 class="font-semibold text-lg text-center text-pretty">{{ 'propertyManagement.service.4.title'|trans|raw }}</h3>
                    </div>
                    <p class="flex-auto text-neutral-800/70 text-base/6 text-center">{{ 'propertyManagement.service.4.text'|trans|raw }}</p>
                </div>
                <div class="bg-white rounded-xl p-6 border border-neutral-100 hover:border-primary/20 transition-colors duration-100 space-y-2 shadow-lg shadow-gray-300/30 group">
                    <div class="flex items-center flex-col gap-3">
                        <div class="p-2 border bg-white border-slate-200 block rounded-lg w-fit group-hover:bg-primary transition-colors duration-100">
                            {{ ux_icon('mynaui:wrench', {'class':'size-6 text-primary shrink-0 group-hover:text-white'}) }}
                        </div>
                        <h3 class="font-semibold text-lg text-center text-pretty">{{ 'propertyManagement.service.5.title'|trans|raw }}</h3>
                    </div>
                    <p class="flex-auto text-neutral-800/70 text-base/6 text-center">{{ 'propertyManagement.service.5.text'|trans|raw }}</p>
                </div>
                <div class="bg-white rounded-xl p-6 border border-neutral-100 hover:border-primary/20 transition-colors duration-100 space-y-2 shadow-lg shadow-gray-300/30 group">
                    <div class="flex items-center flex-col gap-3">
                        <div class="p-2 border bg-white border-slate-200 block rounded-lg w-fit group-hover:bg-primary transition-colors duration-100">
                            {{ ux_icon('akar-icons:wallet', {'class':'size-6 text-primary shrink-0 group-hover:text-white'}) }}
                        </div>
                        <h3 class="font-semibold text-lg text-center text-pretty">{{ 'propertyManagement.service.6.title'|trans|raw }}</h3>
                    </div>
                    <p class="flex-auto text-neutral-800/70 text-base/6 text-center">{{ 'propertyManagement.service.6.text'|trans|raw }}</p>
                </div>
            </div>
        </div>
    </section>
    <section class="overflow-hidden bg-white py-12 lg:py-16 lg:px-8 px-6">
        <div class="mx-auto max-w-7xl md:px-6 lg:px-8">
            <div class="grid grid-cols-1 gap-x-8 gap-y-16 sm:gap-y-20 lg:grid-cols-2 lg:items-start">
                <div class="px-6 lg:px-0 lg:pr-4 lg:pt-4">
                    <div class="mx-auto max-w-2xl lg:mx-0 lg:max-w-lg">
                        <h2 class="text-sm font-semibold text-primary font-secondary">{{ 'propertyManagement.about.title'|trans|raw }}</h2>
                        <h3 class="mt-3 text-pretty text-3xl font-medium">{{ 'propertyManagement.about.subTitle'|trans|raw }}</h3>
                        <p class="mt-6 text-neutral-600">
                            {{ 'propertyManagement.about.text'|trans|raw }}
                        </p>
                        <dl class="mt-16 grid max-w-xl grid-cols-1 gap-8 sm:mt-20 sm:grid-cols-2 xl:mt-16">
                            <div class="flex flex-col gap-y-3 border-l border-gray-900/10 pl-6">
                                <dt class="text-sm/6 text-gray-600">
                                    {{ 'propertyManagement.about.keyPoints.1.text'|trans|raw }}
                                </dt>
                                <dd class="order-first text-3xl font-semibold tracking-tight text-gray-900">
                                    <div class="flex items-center gap-x-2">
                                        {{ ux_icon('logos:airbnb-icon', {'class':'size-9 shrink-0'}) }}
                                        {{ ux_icon('simple-icons:bookingdotcom', {'class':'size-9 text-[#103979] shrink-0'}) }}
                                        {{ ux_icon('simple-icons:tripdotcom', {'class':'size-9 text-blue-500 shrink-0'}) }}
                                    </div>
                                </dd>
                            </div>
                            <div class="flex flex-col gap-y-3 border-l border-gray-900/10 pl-6">
                                <dt class="text-sm/6 text-gray-600">
                                    {{ 'propertyManagement.about.keyPoints.2.text'|trans|raw }}
                                </dt>
                                <dd class="order-first text-3xl font-semibold tracking-tight text-primary">
                                    {{ 'propertyManagement.about.keyPoints.2.number'|trans }}
                                </dd>
                            </div>
                            <div class="flex flex-col gap-y-3 border-l border-gray-900/10 pl-6">
                                <dt class="text-sm/6 text-gray-600">
                                    {{ 'propertyManagement.about.keyPoints.3.text'|trans|raw }}
                                </dt>
                                <dd class="order-first text-3xl font-semibold tracking-tight text-primary">
                                    {{ 'propertyManagement.about.keyPoints.3.number'|trans }}
                                </dd>
                            </div>
                            <div class="flex flex-col gap-y-3 border-l border-gray-900/10 pl-6">
                                <dt class="text-sm/6 text-gray-600">
                                    {{ 'propertyManagement.about.keyPoints.4.text'|trans|raw }}
                                </dt>
                                <dd class="order-first text-3xl font-semibold tracking-tight text-primary">
                                    {{ 'propertyManagement.about.keyPoints.4.number'|trans|raw }}
                                </dd>
                            </div>
                        </dl>
                        <div class="mt-10 flex items-center justify-start">
                            <a href="{{ path('app_contact') }}"
                               class="inline-flex items-center gap-x-4 rounded-full bg-[#71172e] px-4 py-3 text-xs font-light uppercase text-white transition duration-150 hover:bg-[#71172e]/90 focus:outline-none focus-visible:ring-2 focus-visible:ring-offset-2 focus-visible:ring-[#71172e]">
                                {{ 'propertyManagement.about.button'|trans|raw }}
                            </a>
                        </div>
                    </div>
                </div>
                <div class="h-full">
                    <img width="546" height="448" loading="eager" src="{{ asset('medias/website/relocation-paris-8.webp') }}" alt="Product screenshot" class="w-full h-[250px] lg:h-full object-cover rounded-2xl" />
                </div>
            </div>
        </div>
    </section>
    <section class="bg-white py-24 sm:py-32">
        <div class="mx-auto max-w-5xl px-6 lg:px-8">
            <div class="pb-12 lg:pb-16 space-y-3 mx-auto space-y-3 text-center max-w-xl">
                <h2 class="font-semibold text-primary font-secondary">{{ 'propertyManagement.price.title'|trans|raw }}</h2>
                <h3 class="text-3xl font-medium text-balance">{{ 'propertyManagement.price.subTitle'|trans|raw }}</h3>
            </div>
            <div class="mx-auto max-w-xl rounded-3xl ring-1 ring-gray-200 lg:mx-0 lg:flex lg:max-w-none">
                <div class="p-8 sm:p-10 lg:flex-auto">
                    <h4 class="text-2xl font-semibold tracking-tight text-gray-900">
                        {{ 'propertyManagement.price.text1'|trans|raw }}
                    </h4>
                    <p class="mt-6 text-base/7 text-gray-600">
                        {{ 'propertyManagement.price.text2'|trans|raw }}
                    </p>
                    <div class="mt-10 flex items-center gap-x-4">
                        <h4 class="flex-none text-sm/6 font-semibold text-primary">
                            {{ 'propertyManagement.price.guarantee.title'|trans|raw }}
                        </h4>
                        <div class="h-px flex-auto bg-gray-100"></div>
                    </div>
                    <ul role="list" class="mt-8 grid gap-4 text-sm/6 text-gray-600 grid-cols-2 sm:gap-6">
                        <li class="flex gap-x-3">
                            {{ ux_icon('material-symbols:check-rounded', {'class':'size-6 flex-none shrink-0 text-green-600'}) }}
                            {{ 'propertyManagement.price.guarantee.1'|trans|raw }}
                        </li>
                        <li class="flex gap-x-3">
                            {{ ux_icon('material-symbols:check-rounded', {'class':'size-6 flex-none shrink-0 text-green-600'}) }}
                            {{ 'propertyManagement.price.guarantee.2'|trans|raw }}
                        </li>
                        <li class="flex gap-x-3">
                            {{ ux_icon('material-symbols:check-rounded', {'class':'size-6 flex-none shrink-0 text-green-600'}) }}
                            {{ 'propertyManagement.price.guarantee.3'|trans|raw }}
                        </li>
                        <li class="flex gap-x-3">
                            {{ ux_icon('material-symbols:check-rounded', {'class':'size-6 flex-none shrink-0 text-green-600'}) }}
                            {{ 'propertyManagement.price.guarantee.4'|trans|raw }}
                        </li>
                        <li class="flex gap-x-3">
                            {{ ux_icon('material-symbols:check-rounded', {'class':'size-6 flex-none shrink-0 text-green-600'}) }}
                            {{ 'propertyManagement.price.guarantee.5'|trans|raw }}
                        </li>
                        <li class="flex gap-x-3">
                            {{ ux_icon('material-symbols:check-rounded', {'class':'size-6 flex-none shrink-0 text-green-600'}) }}
                            {{ 'propertyManagement.price.guarantee.6'|trans|raw }}
                        </li>
                    </ul>
                </div>
                <div class="-mt-2 p-2 lg:mt-0 lg:w-full lg:max-w-md lg:shrink-0">
                    <div class="rounded-2xl bg-slate-50 py-10 h-full text-center ring-1 ring-inset ring-gray-900/5 lg:flex lg:flex-col lg:justify-center lg:py-16"
                         data-controller="pricing-tabs"
                         data-pricing-tabs-short-term-rate-value="20"
                         data-pricing-tabs-long-term-rate-value="15"
                         data-pricing-tabs-short-term-text-value="{{ 'propertyManagement.price.fees.shortTerm.text'|trans|raw }}"
                         data-pricing-tabs-long-term-text-value="{{ 'propertyManagement.price.fees.longTerm.text'|trans|raw }}">
                        <div class="mx-auto max-w-xs px-8">
                            <!-- Tabs -->
                            <div class="inline-flex rounded-lg bg-gray-100 p-1 gap-x-1">
                                <button type="button"
                                        data-pricing-tabs-target="tab"
                                        data-tab="shortTerm"
                                        data-action="click->pricing-tabs#switchTab"
                                        class="px-4 py-2 text-sm font-medium rounded-md transition-colors duration-200">
                                    {{ 'propertyManagement.price.fees.shortTerm.title'|trans|raw }}
                                </button>
                                <button type="button"
                                        data-pricing-tabs-target="tab"
                                        data-tab="longTerm"
                                        data-action="click->pricing-tabs#switchTab"
                                        class="px-4 py-2 text-sm font-medium rounded-md transition-colors duration-200">
                                    {{ 'propertyManagement.price.fees.longTerm.title'|trans|raw }}
                                </button>
                            </div>

                            <p class="mt-6 flex items-baseline justify-center gap-x-0.5">
                                <span data-pricing-tabs-target="percentage" class="text-5xl font-semibold tracking-tight text-gray-900">20</span>
                                <span class="text-4xl font-semibold tracking-wide text-gray-900">%</span>
                            </p>
                            <p data-pricing-tabs-target="description" class="mt-6 text-balance text-sm/5 text-gray-600 uppercase"></p>
                            <a href="{{ path('app_contact') }}"
                               class="inline-flex items-center gap-x-4 mt-6 rounded-full bg-[#71172e] px-4 py-3 text-xs font-light uppercase text-white transition duration-150 hover:bg-[#71172e]/90 focus:outline-none focus-visible:ring-2 focus-visible:ring-offset-2 focus-visible:ring-[#71172e]">
                                {{ 'propertyManagement.price.fees.button'|trans|raw }}
                            </a>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </section>
    <section class="py-12 lg:py-16 bg-white lg:px-8 px-6">
        <div class="bg-slate-50 rounded-2xl max-w-7xl mx-auto p-8">
            <div class="pb-6 lg:pb-12 space-y-3 mx-auto text-center max-w-xl mt-5">
                <h2 class="font-semibold text-primary font-secondary">{{ 'propertyManagement.testimonial.title'|trans|raw }}</h2>
                <h3 class="text-3xl font-medium text-balance">{{ 'propertyManagement.testimonial.subTitle'|trans|raw }}</h3>
            </div>
            <div class="relative max-w-lg lg:max-w-6xl mx-auto">
                <div data-controller="reviews-swiper" data-reviews-swiper-autoplay-value="true" class="relative">
                    <div class="overflow-hidden py-4">
                        <div data-reviews-swiper-target="track" class="flex gap-6 select-none cursor-grab active:cursor-grabbing">
                            <div data-reviews-swiper-target="card" class="flex-shrink-0">
                                <div class="bg-white rounded-xl p-6 shadow-lg shadow-gray-300/30 h-full flex flex-col">
                                    <div class="flex items-center -gap-x-0.5 mb-4">
                                        {{ ux_icon('material-symbols:star-rounded', {'class':'size-5 text-yellow-500'}) }}
                                        {{ ux_icon('material-symbols:star-rounded', {'class':'size-5 text-yellow-500'}) }}
                                        {{ ux_icon('material-symbols:star-rounded', {'class':'size-5 text-yellow-500'}) }}
                                        {{ ux_icon('material-symbols:star-rounded', {'class':'size-5 text-yellow-500'}) }}
                                        {{ ux_icon('material-symbols:star-rounded', {'class':'size-5 text-yellow-500'}) }}
                                    </div>
                                    <p class="text-gray-700 text-base/6 flex-grow mb-4">
                                        "{{ 'propertyManagement.testimonial.review.1.text'|trans|raw }}"
                                    </p>
                                    <div class="flex items-center gap-x-3 mt-auto">
                                        <div class="size-10 rounded-full bg-primary/10 flex items-center justify-center shrink-0">
                                            <span class="text-primary font-semibold text-sm">CD</span>
                                        </div>
                                        <div>
                                            <p class="font-semibold text-gray-900 text-sm">{{ 'propertyManagement.testimonial.review.1.name'|trans|raw }}</p>
                                            <p class="text-xs text-gray-500">{{ 'propertyManagement.testimonial.review.1.place'|trans|raw }}</p>
                                        </div>
                                    </div>
                                </div>
                            </div>
                            <div data-reviews-swiper-target="card" class="flex-shrink-0">
                                <div class="bg-white rounded-xl p-6 shadow-lg shadow-gray-300/30 h-full flex flex-col">
                                    <div class="flex items-center -gap-x-0.5 mb-4">
                                        {{ ux_icon('material-symbols:star-rounded', {'class':'size-5 text-yellow-500'}) }}
                                        {{ ux_icon('material-symbols:star-rounded', {'class':'size-5 text-yellow-500'}) }}
                                        {{ ux_icon('material-symbols:star-rounded', {'class':'size-5 text-yellow-500'}) }}
                                        {{ ux_icon('material-symbols:star-rounded', {'class':'size-5 text-yellow-500'}) }}
                                        {{ ux_icon('material-symbols:star-rounded', {'class':'size-5 text-yellow-500'}) }}
                                    </div>
                                    <p class="text-gray-700 text-base/6 flex-grow mb-4">
                                        "{{ 'propertyManagement.testimonial.review.2.text'|trans|raw }}"
                                    </p>
                                    <div class="flex items-center gap-x-3 mt-auto">
                                        <div class="size-10 rounded-full bg-primary/10 flex items-center justify-center shrink-0">
                                            <span class="text-primary font-semibold text-sm">JL</span>
                                        </div>
                                        <div>
                                            <p class="font-semibold text-gray-900 text-sm">{{ 'propertyManagement.testimonial.review.2.name'|trans|raw }}</p>
                                            <p class="text-xs text-gray-500">{{ 'propertyManagement.testimonial.review.2.place'|trans|raw }}</p>
                                        </div>
                                    </div>
                                </div>
                            </div>
                            <div data-reviews-swiper-target="card" class="flex-shrink-0">
                                <div class="bg-white rounded-xl p-6 shadow-lg shadow-gray-300/30 h-full flex flex-col">
                                    <div class="flex items-center -gap-x-0.5 mb-4">
                                        {{ ux_icon('material-symbols:star-rounded', {'class':'size-5 text-yellow-500'}) }}
                                        {{ ux_icon('material-symbols:star-rounded', {'class':'size-5 text-yellow-500'}) }}
                                        {{ ux_icon('material-symbols:star-rounded', {'class':'size-5 text-yellow-500'}) }}
                                        {{ ux_icon('material-symbols:star-rounded', {'class':'size-5 text-yellow-500'}) }}
                                        {{ ux_icon('material-symbols:star-rounded', {'class':'size-5 text-yellow-500'}) }}
                                    </div>
                                    <p class="text-gray-700 text-base/6 flex-grow mb-4">
                                        "{{ 'propertyManagement.testimonial.review.3.text'|trans|raw }}"
                                    </p>
                                    <div class="flex items-center gap-x-3 mt-auto">
                                        <div class="size-10 rounded-full bg-primary/10 flex items-center justify-center shrink-0">
                                            <span class="text-primary font-semibold text-sm">TB</span>
                                        </div>
                                        <div>
                                            <p class="font-semibold text-gray-900 text-sm">{{ 'propertyManagement.testimonial.review.3.name'|trans|raw }}</p>
                                            <p class="text-xs text-gray-500">{{ 'propertyManagement.testimonial.review.3.place'|trans|raw }}</p>
                                        </div>
                                    </div>
                                </div>
                            </div>
                            <div data-reviews-swiper-target="card" class="flex-shrink-0">
                                <div class="bg-white rounded-xl p-6 shadow-lg shadow-gray-300/30 h-full flex flex-col">
                                    <div class="flex items-center -gap-x-0.5 mb-4">
                                        {{ ux_icon('material-symbols:star-rounded', {'class':'size-5 text-yellow-500'}) }}
                                        {{ ux_icon('material-symbols:star-rounded', {'class':'size-5 text-yellow-500'}) }}
                                        {{ ux_icon('material-symbols:star-rounded', {'class':'size-5 text-yellow-500'}) }}
                                        {{ ux_icon('material-symbols:star-rounded', {'class':'size-5 text-yellow-500'}) }}
                                        {{ ux_icon('material-symbols:star-rounded', {'class':'size-5 text-yellow-500'}) }}
                                    </div>
                                    <p class="text-gray-700 text-base/6 flex-grow mb-4">
                                        "{{ 'propertyManagement.testimonial.review.4.text'|trans|raw }}"
                                    </p>
                                    <div class="flex items-center gap-x-3 mt-auto">
                                        <div class="size-10 rounded-full bg-primary/10 flex items-center justify-center shrink-0">
                                            <span class="text-primary font-semibold text-sm">SW</span>
                                        </div>
                                        <div>
                                            <p class="font-semibold text-gray-900 text-sm">{{ 'propertyManagement.testimonial.review.4.name'|trans|raw }}</p>
                                            <p class="text-xs text-gray-500">{{ 'propertyManagement.testimonial.review.4.place'|trans|raw }}</p>
                                        </div>
                                    </div>
                                </div>
                            </div>
                            <div data-reviews-swiper-target="card" class="flex-shrink-0">
                                <div class="bg-white rounded-xl p-6 shadow-lg shadow-gray-300/30 h-full flex flex-col">
                                    <div class="flex items-center -gap-x-0.5 mb-4">
                                        {{ ux_icon('material-symbols:star-rounded', {'class':'size-5 text-yellow-500'}) }}
                                        {{ ux_icon('material-symbols:star-rounded', {'class':'size-5 text-yellow-500'}) }}
                                        {{ ux_icon('material-symbols:star-rounded', {'class':'size-5 text-yellow-500'}) }}
                                        {{ ux_icon('material-symbols:star-rounded', {'class':'size-5 text-yellow-500'}) }}
                                        {{ ux_icon('material-symbols:star-rounded', {'class':'size-5 text-yellow-500'}) }}
                                    </div>
                                    <p class="text-gray-700 text-base/6 flex-grow mb-4">
                                        "{{ 'propertyManagement.testimonial.review.5.text'|trans|raw }}"
                                    </p>
                                    <div class="flex items-center gap-x-3 mt-auto">
                                        <div class="size-10 rounded-full bg-primary/10 flex items-center justify-center shrink-0">
                                            <span class="text-primary font-semibold text-sm">MR</span>
                                        </div>
                                        <div>
                                            <p class="font-semibold text-gray-900 text-sm">{{ 'propertyManagement.testimonial.review.5.name'|trans|raw }}</p>
                                            <p class="text-xs text-gray-500">{{ 'propertyManagement.testimonial.review.5.place'|trans|raw }}</p>
                                        </div>
                                    </div>
                                </div>
                            </div>
                            <div data-reviews-swiper-target="card" class="flex-shrink-0">
                                <div class="bg-white rounded-xl p-6 shadow-lg shadow-gray-300/30 h-full flex flex-col">
                                    <div class="flex items-center -gap-x-0.5 mb-4">
                                        {{ ux_icon('material-symbols:star-rounded', {'class':'size-5 text-yellow-500'}) }}
                                        {{ ux_icon('material-symbols:star-rounded', {'class':'size-5 text-yellow-500'}) }}
                                        {{ ux_icon('material-symbols:star-rounded', {'class':'size-5 text-yellow-500'}) }}
                                        {{ ux_icon('material-symbols:star-rounded', {'class':'size-5 text-yellow-500'}) }}
                                        {{ ux_icon('material-symbols:star-rounded', {'class':'size-5 text-yellow-500'}) }}
                                    </div>
                                    <p class="text-gray-700 text-base/6 flex-grow mb-4">
                                        "{{ 'propertyManagement.testimonial.review.6.text'|trans|raw }}"
                                    </p>
                                    <div class="flex items-center gap-x-3 mt-auto">
                                        <div class="size-10 rounded-full bg-primary/10 flex items-center justify-center shrink-0">
                                            <span class="text-primary font-semibold text-sm">DK</span>
                                        </div>
                                        <div>
                                            <p class="font-semibold text-gray-900 text-sm">{{ 'propertyManagement.testimonial.review.6.name'|trans|raw }}</p>
                                            <p class="text-xs text-gray-500">{{ 'propertyManagement.testimonial.review.6.place'|trans|raw }}</p>
                                        </div>
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>
                    <div class="flex items-center justify-center gap-x-6 mt-8 mb-5">
                        <button
                            data-action="click->reviews-swiper#prev"
                            class="flex items-center justify-center size-12 rounded-full bg-white border-2 border-primary text-primary hover:bg-primary hover:text-white active:scale-95 active:bg-primary active:text-white transition-all duration-100 shadow-md hover:shadow-lg touch-manipulation">
                            {{ ux_icon('material-symbols:arrow-back-ios-new-rounded', {'class':'size-5'}) }}
                        </button>

                        <!-- Indicators -->
                        <div class=" items-center gap-x-2 lg:flex hidden">
                            <button
                                data-reviews-swiper-target="indicator"
                                data-index="0"
                                data-action="click->reviews-swiper#goTo"
                                class="size-2.5 rounded-full bg-primary transition-all duration-200 hover:scale-125 active:scale-110 touch-manipulation"></button>
                            <button
                                data-reviews-swiper-target="indicator"
                                data-index="1"
                                data-action="click->reviews-swiper#goTo"
                                class="size-2.5 rounded-full bg-gray-300 transition-all duration-200 hover:scale-125 active:scale-110 touch-manipulation"></button>
                            <button
                                data-reviews-swiper-target="indicator"
                                data-index="2"
                                data-action="click->reviews-swiper#goTo"
                                class="size-2.5 rounded-full bg-gray-300 transition-all duration-200 hover:scale-125 active:scale-110 touch-manipulation"></button>
                            <button
                                data-reviews-swiper-target="indicator"
                                data-index="3"
                                data-action="click->reviews-swiper#goTo"
                                class="size-2.5 rounded-full bg-gray-300 transition-all duration-200 hover:scale-125 active:scale-110 touch-manipulation"></button>
                        </div>

                        <button
                            data-action="click->reviews-swiper#next"
                            class="flex items-center justify-center size-12 rounded-full bg-white border-2 border-primary text-primary hover:bg-primary hover:text-white active:scale-95 active:bg-primary active:text-white transition-all duration-100 shadow-md hover:shadow-lg touch-manipulation">
                            {{ ux_icon('material-symbols:arrow-forward-ios-rounded', {'class':'size-5'}) }}
                        </button>
                    </div>
                </div>
            </div>
        </div>
    </section>
    <section class="max-w-7xl mx-auto lg:px-8 px-6 lg:py-16 py-12">
        <div class="max-w-3xl mx-auto">
            <div class="pb-12 lg:pb-16 space-y-3 mx-auto space-y-3 text-center">
                <h2 class="font-semibold text-primary font-secondary">{{ 'propertyManagement.faq.title'|trans|raw }}</h2>
                <h3 class="text-3xl font-medium text-pretty">{{ 'propertyManagement.faq.subTitle'|trans|raw }}</h3>
            </div>
            <div x-data="{
                    activeAccordion: '',
                    setActiveAccordion(id) {
                        this.activeAccordion = (this.activeAccordion == id) ? '' : id
                    }
                }" class="relative w-full mx-auto overflow-hidden space-y-4">
                <div x-data="{ id: $id('accordion') }" class="cursor-pointer group border border-neutral-100 bg-white rounded-lg hover:border-primary/20 transition duration-100">
                    <button @click="setActiveAccordion(id)" class="flex items-center justify-between w-full p-4 text-left select-none font-semibold gap-x-2">
                        <span>{{ 'propertyManagement.faq.question.1.title'|trans|raw }}</span>
                        <svg class="w-4 h-4 duration-200 ease-out shrink-0" :class="{ 'rotate-180': activeAccordion==id }" viewBox="0 0 24 24" xmlns="http://www.w3.org/2000/svg" fill="none" stroke="currentColor" stroke-width="2" stroke-linecap="round" stroke-linejoin="round"><polyline points="6 9 12 15 18 9"></polyline></svg>
                    </button>
                    <div x-show="activeAccordion==id" x-collapse x-cloak>
                        <div class="p-4 pt-0 opacity-70 text-neutral-800">
                            {{ 'propertyManagement.faq.question.1.text'|trans|raw }}
                        </div>
                    </div>
                </div>
                <div x-data="{ id: $id('accordion') }" class="cursor-pointer group border border-neutral-100 bg-white rounded-lg hover:border-primary/20 transition duration-100">
                    <button @click="setActiveAccordion(id)" class="flex items-center justify-between w-full p-4 text-left select-none font-semibold gap-x-2">
                        <span>{{ 'propertyManagement.faq.question.2.title'|trans|raw }}</span>
                        <svg class="w-4 h-4 duration-200 ease-out shrink-0" :class="{ 'rotate-180': activeAccordion==id }" viewBox="0 0 24 24" xmlns="http://www.w3.org/2000/svg" fill="none" stroke="currentColor" stroke-width="2" stroke-linecap="round" stroke-linejoin="round"><polyline points="6 9 12 15 18 9"></polyline></svg>
                    </button>
                    <div x-show="activeAccordion==id" x-collapse x-cloak>
                        <div class="p-4 pt-0 opacity-70 text-neutral-800">
                            {{ 'propertyManagement.faq.question.2.text'|trans|raw }}
                        </div>
                    </div>
                </div>
                <div x-data="{ id: $id('accordion') }" class="cursor-pointer group border border-neutral-100 bg-white rounded-lg hover:border-primary/20 transition duration-100">
                    <button @click="setActiveAccordion(id)" class="flex items-center justify-between w-full p-4 text-left select-none font-semibold gap-x-2">
                        <span>{{ 'propertyManagement.faq.question.3.title'|trans|raw }}</span>
                        <svg class="w-4 h-4 duration-200 ease-out shrink-0" :class="{ 'rotate-180': activeAccordion==id }" viewBox="0 0 24 24" xmlns="http://www.w3.org/2000/svg" fill="none" stroke="currentColor" stroke-width="2" stroke-linecap="round" stroke-linejoin="round"><polyline points="6 9 12 15 18 9"></polyline></svg>
                    </button>
                    <div x-show="activeAccordion==id" x-collapse x-cloak>
                        <div class="p-4 pt-0 opacity-70 text-neutral-800">
                            {{ 'propertyManagement.faq.question.3.text'|trans|raw }}
                        </div>
                    </div>
                </div>
                <div x-data="{ id: $id('accordion') }" class="cursor-pointer group border border-neutral-100 bg-white rounded-lg hover:border-primary/20 transition duration-100">
                    <button @click="setActiveAccordion(id)" class="flex items-center justify-between w-full p-4 text-left select-none font-semibold gap-x-2">
                        <span>{{ 'propertyManagement.faq.question.4.title'|trans|raw }}</span>
                        <svg class="w-4 h-4 duration-200 ease-out shrink-0" :class="{ 'rotate-180': activeAccordion==id }" viewBox="0 0 24 24" xmlns="http://www.w3.org/2000/svg" fill="none" stroke="currentColor" stroke-width="2" stroke-linecap="round" stroke-linejoin="round"><polyline points="6 9 12 15 18 9"></polyline></svg>
                    </button>
                    <div x-show="activeAccordion==id" x-collapse x-cloak>
                        <div class="p-4 pt-0 opacity-70 text-neutral-800">
                            {{ 'propertyManagement.faq.question.4.text'|trans|raw }}
                        </div>
                    </div>
                </div>
                <div x-data="{ id: $id('accordion') }" class="cursor-pointer group border border-neutral-100 bg-white rounded-lg hover:border-primary/20 transition duration-100">
                    <button @click="setActiveAccordion(id)" class="flex items-center justify-between w-full p-4 text-left select-none font-semibold gap-x-2">
                        <span>{{ 'propertyManagement.faq.question.5.title'|trans|raw }}</span>
                        <svg class="w-4 h-4 duration-200 ease-out shrink-0" :class="{ 'rotate-180': activeAccordion==id }" viewBox="0 0 24 24" xmlns="http://www.w3.org/2000/svg" fill="none" stroke="currentColor" stroke-width="2" stroke-linecap="round" stroke-linejoin="round"><polyline points="6 9 12 15 18 9"></polyline></svg>
                    </button>
                    <div x-show="activeAccordion==id" x-collapse x-cloak>
                        <div class="p-4 pt-0 opacity-70 text-neutral-800">
                            {{ 'propertyManagement.faq.question.5.text'|trans|raw }}
                        </div>
                    </div>
                </div>
                <div x-data="{ id: $id('accordion') }" class="cursor-pointer group border border-neutral-100 bg-white rounded-lg hover:border-primary/20 transition duration-100">
                    <button @click="setActiveAccordion(id)" class="flex items-center justify-between w-full p-4 text-left select-none font-semibold gap-x-2">
                        <span>{{ 'propertyManagement.faq.question.6.title'|trans|raw }}</span>
                        <svg class="w-4 h-4 duration-200 ease-out shrink-0" :class="{ 'rotate-180': activeAccordion==id }" viewBox="0 0 24 24" xmlns="http://www.w3.org/2000/svg" fill="none" stroke="currentColor" stroke-width="2" stroke-linecap="round" stroke-linejoin="round"><polyline points="6 9 12 15 18 9"></polyline></svg>
                    </button>
                    <div x-show="activeAccordion==id" x-collapse x-cloak>
                        <div class="p-4 pt-0 opacity-70 text-neutral-800">
                            {{ 'propertyManagement.faq.question.6.text'|trans|raw }}
                        </div>
                    </div>
                </div>
                <div x-data="{ id: $id('accordion') }" class="cursor-pointer group border border-neutral-100 bg-white rounded-lg hover:border-primary/20 transition duration-100">
                    <button @click="setActiveAccordion(id)" class="flex items-center justify-between w-full p-4 text-left select-none font-semibold gap-x-2">
                        <span>{{ 'propertyManagement.faq.question.7.title'|trans|raw }}</span>
                        <svg class="w-4 h-4 duration-200 ease-out shrink-0" :class="{ 'rotate-180': activeAccordion==id }" viewBox="0 0 24 24" xmlns="http://www.w3.org/2000/svg" fill="none" stroke="currentColor" stroke-width="2" stroke-linecap="round" stroke-linejoin="round"><polyline points="6 9 12 15 18 9"></polyline></svg>
                    </button>
                    <div x-show="activeAccordion==id" x-collapse x-cloak>
                        <div class="p-4 pt-0 opacity-70 text-neutral-800">
                            {{ 'propertyManagement.faq.question.7.text'|trans|raw }}
                        </div>
                    </div>
                </div>
                <div x-data="{ id: $id('accordion') }" class="cursor-pointer group border border-neutral-100 bg-white rounded-lg hover:border-primary/20 transition duration-100">
                    <button @click="setActiveAccordion(id)" class="flex items-center justify-between w-full p-4 text-left select-none font-semibold gap-x-2">
                        <span>{{ 'propertyManagement.faq.question.8.title'|trans|raw }}</span>
                        <svg class="w-4 h-4 duration-200 ease-out shrink-0" :class="{ 'rotate-180': activeAccordion==id }" viewBox="0 0 24 24" xmlns="http://www.w3.org/2000/svg" fill="none" stroke="currentColor" stroke-width="2" stroke-linecap="round" stroke-linejoin="round"><polyline points="6 9 12 15 18 9"></polyline></svg>
                    </button>
                    <div x-show="activeAccordion==id" x-collapse x-cloak>
                        <div class="p-4 pt-0 opacity-70 text-neutral-800">
                            {{ 'propertyManagement.faq.question.8.text'|trans|raw }}
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </section>
    {{ component('ctaFooter') }}
{% endblock %}
