{% extends 'base.html.twig' %}

{% block title %}{{ 'meta.blog.title'|trans }}{% endblock %}
{% block description %}{{ 'meta.blog.description'|trans }}{% endblock %}
{% block url %}{{ path('app_blog') }}{% endblock %}

{% set hero = posts|first %}

{% block body %}
    <section class="max-w-7xl mx-auto lg:px-8 px-6 lg:py-16 py-12">
        <div class="max-w-2xl mx-auto flex flex-col justify-center text-center space-y-4">
            <h1 class="text-center font-semibold text-primary font-secondary capitalize">{{ 'blog.list.title'|trans|raw }}</h1>
            <h2 class="text-4xl lg:text-5xl/16 font-medium text-balance">{{ 'blog.list.subTitle'|trans|raw }}</h2>
        </div>
    </section>
    <section class="max-w-6xl mx-auto lg:px-8 px-6 mt-4 mb-12 lg:mb-16">
        {% if hero %}
            <a href="{{ path('app_blog_show', {'slug': hero.slug}) }}" class="bg-linear-to-b from-primary to-primary/30 p-2 rounded-3xl hover:from-primary/85 hover:to-primary/20 transition duration-100 block">
                <div class="pb-2">
                    <p class="text-sm text-white uppercase tracking-normal font-medium text-center">
                        {{ 'blog.list.lastArticle'|trans|raw }}
                    </p>
                </div>
                <div class="rounded-2xl bg-white grid grid-cols-1 lg:grid-cols-5 lg:gap-4">
                    <div class="col-span-2 flex flex-col justify-between space-y-6 p-6 lg:order-1 order-2">
                        <div class="space-y-4">
                            {% if hero.category %}
                                <div class="flex flex-wrap gap-2">
                                    <div class="inline-block px-2.5 py-1 bg-primary/5 rounded-full text-xs text-primary border border-primary/10 capitalize">
                                        {{ hero.category.name }}
                                    </div>
                                </div>
                            {% endif %}
                            <h2 class="font-semibold text-xl lg:text-3xl">{{ hero.title }}</h2>
                        </div>
                        <div class="flex items-end justify-between">
                            {% if hero.authors|length > 0 %}
                                <div class="flex items-center space-x-3">
                                    {% if hero.authors[0].photo %}
                                        <div>
                                            <img src="{{ hero.authors[0].photo }}" alt="{{ hero.authors[0].fullName }}" class="w-10 h-10 rounded-full border border-neutral-100 object-cover">
                                        </div>
                                    {% endif %}
                                    <div class="flex flex-col space-x-0.5 text-sm">
                                        <p class="capitalize text-primary font-semibold">{{ hero.authors[0].fullName }}</p>
                                        <time class="text-slate-500" datetime="{{ hero._createdAt }}">{{ hero._createdAt|date('d F Y')|format_date(locale=app.request.locale) }}</time>
                                    </div>
                                </div>
                            {% endif %}
                            {% if hero.readTime %}
                                <div class="max-[420px]:hidden text-sm text-neutral-800/70">
                                    <p>{{ hero.readTime }} {{ 'blog.list.timeToRead'|trans|raw }}</p>
                                </div>
                            {% endif %}
                        </div>
                    </div>
                    <div class="col-span-3 lg:order-2 order-1">
                        {% if hero.mainPhoto %}
                            <img src="{{ hero.mainPhoto }}" alt="{{ hero.mainPhotoAlt }}" class="w-full h-[200px] lg:h-[450px] rounded-xl object-cover">
                        {% endif %}
                    </div>
                </div>
            </a>
        {% endif %}
        <section class="py-12">
            <div class="flex justify-between items-center">
                <div class="bg-neutral-100 rounded-lg px-4 py-2 text-sm font-medium text-primary">
                    {{ 'blog.list.allArticles'|trans|raw }} ({{ posts|length }})
                </div>
            </div>
        </section>
        <section class="grid grid-cols-1 md:grid-cols-2 lg:grid-cols-3 gap-6">
            {% for blog in posts|slice(1) %}
                <a href="{{ path('app_blog_show', {'slug': blog.slug}) }}" class="border border-neutral-100 rounded-2xl lg:min-h-[400px] flex flex-col hover:border-primary/20 transition duration-300">
                    {% if blog.mainPhoto %}
                        <img src="{{ blog.mainPhoto }}" alt="{{ blog.mainPhotoAlt }}" class="w-full h-[200px] rounded-xl object-cover">
                    {% endif %}
                    <div class="p-6 flex flex-col justify-between gap-4 flex-grow">
                        <div class="space-y-6">
                            {% if blog.category %}
                                <div class="flex flex-wrap gap-2">
                                    <div class="inline-block px-2.5 py-1 bg-primary/5 rounded-full text-xs text-primary border border-primary/10 capitalize">
                                        {{ blog.category.name }}
                                    </div>
                                </div>
                            {% endif %}
                            <h2 class="font-semibold text-xl">{{ blog.title }}</h2>
                        </div>
                        <div class="flex items-end justify-between mt-4">
                            {% if blog.authors|length > 0 %}
                                <div class="flex items-center space-x-3">
                                    {% if blog.authors[0].photo %}
                                        <div>
                                            <img src="{{ blog.authors[0].photo }}" alt="{{ blog.authors[0].fullName }}" class="w-10 h-10 rounded-full border border-neutral-100 object-cover">
                                        </div>
                                    {% endif %}
                                    <div class="flex flex-col space-x-0.5 text-sm">
                                        <p class="capitalize text-primary font-semibold">{{ blog.authors[0].fullName }}</p>
                                        <time class="text-slate-500" datetime="{{ blog._createdAt }}">{{ blog._createdAt|date('d F Y')|format_date(locale=app.request.locale) }}</time>
                                    </div>
                                </div>
                            {% endif %}
                            {% if blog.readTime %}
                                <div class="max-[420px]:hidden text-sm text-neutral-800/70">
                                    <p>{{ blog.readTime }} {{ 'blog.list.timeToRead'|trans|raw }}</p>
                                </div>
                            {% endif %}
                        </div>
                    </div>
                </a>
            {% endfor %}
        </section>
        {{ component('blocks/ctaFooter') }}
    </section>
{% endblock %}