{% extends 'base.html.twig' %}

{% set isFr = app.request.locale == 'fr' %}

{% block title %}{{ isFr ? post.titleFr : post.titleEn }}{% endblock %}
{% block description %}{{ isFr ? post.shortDescFr : post.shortDescEn }}{% endblock %}
{% block url %}/blog/{{ isFr ? post.slugFr : post.slugEn }}{% endblock %}

{% block body %}
    <article class="max-w-6xl mx-auto lg:px-8 px-6 lg:py-16 py-12">
        <div class="max-w-2xl mx-auto flex flex-col justify-center text-center space-y-4">
            <div class="flex flex-wrap items-center justify-center gap-2">
                {% for category in post.category %}
                    <div class="inline-block px-2.5 py-1 bg-primary/5 rounded-full text-xs text-primary border border-primary/10">
                        {{ isFr ? category.titleFr : category.titleEn }}
                    </div>
                {% endfor %}
            </div>
            <h1 class="text-4xl lg:text-5xl/16 font-medium text-balance">{{ isFr ? post.titleFr : post.titleEn }}</h1>
            <p class="text-slate-800/70 leading-7">{{ isFr ? post.shortDescFr : post.shortDescEn }}</p>
        </div>
        <div class="mt-10">
            <img src="{{ asset('medias/blog/cover/'~post.mainPhoto) }}" alt="{{ post.mainPhotoAlt }}" class="w-full h-[200px] lg:h-[450px] rounded-2xl object-cover">
        </div>
        <div class="max-w-3xl mx-auto">
            <div class="mt-10 text-slate-700 leading-7" id="content">
                {{ isFr ? post.contentFr|raw : post.contentEn|raw }}
            </div>
            <div class="border-t border-slate-200 mt-10 pt-10">
                <div class="flex items-center space-x-3">
                    <div>
                        <img src="{{ asset('medias/blog/redactor/'~post.redactor.photo) }}" alt="{{ post.redactor.fullName }}" class="w-10 h-10 rounded-full border border-neutral-100">
                    </div>
                    <div class="flex flex-col space-x-0.5 text-sm">
                        <p class="text-primary font-semibold">{{ 'blog.show.redactionBy'|trans|raw }} <span class="capitalize">{{ post.redactor.fullName }}</span></p>
                        <time class="text-slate-500" datetime="{{ post.createdAt | date('d F Y') }}" class="mr-8">{{ 'blog.show.published'|trans|raw }} {{ post.createdAt | date('d F Y') | format_date(locale=app.request.locale) }}</time>
                    </div>
                </div>
                <div class="bg-primary/5 rounded-lg p-4 mt-4 space-y-2">
                    <div class="flex items-center space-x-1.5">
                        {{ ux_icon('iconamoon:pen-light', {'class':'size-4 text-primary shrink-0'}) }}
                        <p class="font-semibold text-slate-800 text-sm">{{ 'blog.show.aboutAuthor'|trans|raw }}</p>
                    </div>
                    <p class="text-slate-700 text-sm">{{ isFr ? post.redactor.bioFr : post.redactor.bioEn }}</p>
                </div>
            </div>
        </div>
    </article>
    {{ component('ctaFooter') }}
{% endblock %}
